openapi: 3.0.0
info:
  title: Nylas API
  version: '2.2'
  description: >-
    The API is designed around the
    [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer)
    ideology, providing simple and predictable URIs to access and modify
    objects. Requests support [standard HTTP
    methods](http://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html) like GET,
    PUT, POST, and DELETE and [standard status
    codes](http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html). Response
    bodies are always UTF-8 encoded JSON objects, unless explicitly documented
    otherwise.


    # Get Your API Keys


    Follow our [guide](/docs/the-basics/get-your-developer-keys/) to get your
    `access_token`.



    # Using the API Reference


    We use an `access_token` for most requests. Some
    [requests](/docs/the-basics/authentication/authorizing-api-requests/)
    require a `client_id` and `client_secret`.


    After getting your developer key, you can enter your `access_token` or
    `client_id` and `client_secret` under [Authentication](/docs/api/#auth) to
    make browser requests.


    You can leave most request headers blank. We've already added the required
    types. If something doesn't work, leave us feedback.


    <br>

    <div style="padding:24px; background-color:#F0F3FF; border: 1px solid
    #002DB4; color: #161717"><p><strong>Large Requests</strong></p><p>We
    recommend using a tool like Postman for large requests, such as Message and
    Threads. If the request is too large there might be a slight delay or
    timeout.</p></div>




    # Filters


    Filters allow you to narrow a request based on specific parameters. In
    general, the more specific you can make the requests, the faster they
    perform. For this reason it is important to use filters whenever possible.


    Filters may be appended to API requests on:


    - [Threads](/docs/api/#tag--Threads)

    - [Messages](/docs/api/#tag--Messages)

    - [Files](/docs/api/#tag--Files)

    - [Events](/docs/api/#tag--Events)

    - [Contacts](/docs/api/#tag--Contacts) - limited support

    - [Deltas](/docs/api/#tag--Deltas) - limited support


    > Values must use
    [percent-encoding](http://en.wikipedia.org/wiki/Percent-encoding) (also
    known as URL encoding). See the specific endpoint documentation for details
    on exact syntax and supported parameters.


    Filters do not currently support wildcards, such as `from=*@expedia.com`.
    Providing multiple values for a single filter is also unsupported. If you
    require more generalized parameter matching, see the
    [Search](/docs/api/#tag--Search) APIs.



    # Views


    Instead of returning all data about an object, the following views allow you
    to customize the response for any endpoint. They can be combined with
    filters.  Check each endpoint for the type of views supported. The following
    endpoints support view parameters:


    - [Threads](/docs/api/#tag--Threads)

    - [Messages](/docs/api/#tag--Messages)

    - [Drafts](/docs/api/#tag--Drafts)

    - [Folders](/docs/api/#tag--Folders)

    - [Labels](/docs/api/#tag--Labels)

    - [Files](/docs/api/#tag--Files)

    - [Calendars](/docs/api/#tag--Files)

    - [Events](/docs/api/#tag--Events)

    - [Contacts](/docs/api/#tag--Contacts)

    - [Deltas](/docs/api/#tag--Deltas) - Expanded View Only



    ## ID View


    Return only the IDs of objects.



    ```bash

    curl
    https://api.nylas.com/messages?thread_id=aqb0llc2ioo0bclh7uxkim9z6&view=ids

    ```


    ```json

    [
      "f594seo6izjks2s7qxjbwquol",
      "3a95fq0askqgj7mnh6i281ahz",
      "4vfg8p1om177q2cfx9sselkea"
    ]

    ```


    ## Count View


    Returns the number of objects in the collection being queried.


    ```bash

    curl https://api.nylas.com/threads?in=inbox&view=count

    ```


    ```json

    {
      "count": 386
    }

    ```


    ## Expanded View


    Expands the `threads` responses to contain message/draft sub-objects. Adding
    `view=expanded` will remove `message_ids` and `draft_ids`, and include
    `messages` and `drafts`.


    > The message and draft sub-objects do not include a`body` parameter.


    Message objects are expanded to include several additional RFC2822 headers.
    For more information, see the [Expanded Message
    View](/docs/api/#tag--Messages--message-views).


    # Pagination


    Using both the limit and offset parameters allows you to easily paginate
    through a large number of objects.


    | Query Parameter | Type | Description |

    | ----------|--|------- |

    | `limit` | integer  | The number of objects to return. This value often
    defaults to 100. If set too high, requests may fail to prevent excessively
    large response bodies. |

    | `offset` | integer  | A zero-based offset from the default object sorting.
    |


    > If a request returns fewer objects than the `limit` parameter, there are
    no more items available to return.


    # Versioning


    **We are on version 2.2.**


    To learn about versioning, see
    [Versioning](/docs/developer-tools/api/versioning/).
  contact:
    url: 'https://www.nylas.com/'
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: ''
servers:
  - url: 'https://api.nylas.com'
    description: US
  - description: Canada
    url: 'https://canada.api.nylas.com'
  - url: 'https://ireland.api.nylas.com '
    description: EU
paths:
  /folders:
    get:
      tags:
        - Folders
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Folder'
              examples:
                ReturnAllFoldersResponse:
                  value:
                    - account_id: 79xcak1h10r1tmm5ogavx28lb
                      display_name: Archive
                      id: ajs4ef7xu74vns6o5ufsu69m7
                      name: archive
                      object: folder
                    - account_id: 79xcak1h10r1tmm5ogavx28lb
                      display_name: Conversation History
                      id: etmvbqwqo64vlm73qvyfj2tet
                      name: string
                      object: folder
                    - account_id: 79xcak1h10r1tmm5ogavx28lb
                      display_name: Deleted Items
                      id: blrfzbz4r066ip8x1bh8k8g1y
                      name: trash
                      object: folder
                    - account_id: 79xcak1h10r1tmm5ogavx28lb
                      display_name: Drafts
                      id: a6vnuwv9gjj1xidxkhyzxeke1
                      name: drafts
                      object: folder
                    - account_id: 79xcak1h10r1tmm5ogavx28lb
                      display_name: Inbox
                      id: b8un1ec0syrv94153fg3p61ci
                      name: inbox
                      object: folder
                    - account_id: 79xcak1h10r1tmm5ogavx28lb
                      display_name: Junk Email
                      id: 8tqebvw8t0aky7f2or1oagwt8
                      name: spam
                      object: folder
                    - account_id: 79xcak1h10r1tmm5ogavx28lb
                      display_name: Sent Items
                      id: clzqp0nsim0138aohwzha34vk
                      name: sent
                      object: folder
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-400'
              examples:
                example-1:
                  value:
                    message: Error Message
                    type: Error Type
          description: Bad Request
        '401':
          $ref: '#/components/responses/Error-401'
      security:
        - ACCESS_TOKEN: []
      operationId: get-folders
      summary: Return All Folders
      description: Returns all folders.
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            # Return all folders found in the user's inbox
            curl -X GET 'https://api.nylas.com/folders' \
            -H 'Authorization: Bearer ACCESS_TOKEN'

            # Use offset, and limit to paginate the results
            curl -X GET 'https://api.nylas.com/folders?limit=2&offset=4' \
            -H 'Authorization: Bearer ACCESS_TOKEN
        - lang: py
          label: Python SDK
          source: |-
            from nylas import APIClient
            nylas = APIClient(
                CLIENT_ID,
                CLIENT_SECRET,
                ACCESS_TOKEN
            )

            # Return all folders found in the user's inbox
            nylas.folders.all()

            # Use offset, and limit to paginate the results
            nylas.folders.where(limit=2, offset=4)

            # Return the first folder
            folder = nylas.folders.first()

            # The following attributes are available for the folder object
            folder.display_name
            folder.name
            folder.object
            folder.account_id
            folder.id'
        - lang: ruby
          label: Ruby SDK
          source: |-
            # Return all folders found in the user's inbox
            nylas.folders

            # Use offset, and limit to paginate the results
            nylas.folders.limit(2).offset(4)

            # Return the last folder
            nylas.folders.last

            # Return the first folder
            folder = nylas.folders.first

            # The following attributes are available for the folder object
            folder.display_name
            folder.name
            folder.object
            folder.account_id
            folder.id
        - lang: js
          label: Node.js SDK
          source: >-
            // Return all folders found in the user's inbox

            nylas.folders.list().then(folders => console.log(folders));


            // Use offset, and limit to paginate the results

            nylas.folders.list({limit: 2, offset: 4}).then(folders =>
            console.log(folders))


            // Return the first folder

            nylas.folders.first().then(folder => console.log(folder));


            // The following attributes are available for the folder object

            folder.id

            folder.object

            folder.accountId

            folder.name

            folder.displayName
        - lang: java
          label: Java SDK
          source: |-
            import java.io.IOException;
            import com.nylas.RequestFailedException;
            import com.nylas.NylasAccount;
            import com.nylas.NylasClient;
            import com.nylas.Folder;
            import com.nylas.FolderQuery;
            import com.nylas.Folders;

            public class NylasExamples {
                public static void getFoldersExample() throws IOException, RequestFailedException {
                    NylasClient nylas = new NylasClient();
                    NylasAccount account = nylas.account("{ACCESS_TOKEN}");
                    Folders folders = account.folders();

                    // Return all folders found in the user's inbox
                    folders.list();

                    // Use offset, and limit to control pagination
                    folders.list(new FolderQuery().limit(2).offset(4));

                    // Return the first folder
                    Folder folder = folders.list(new FolderQuery().limit(1)).get(0);

                    // The following attributes are available for the folder object
                    folder.getDisplayName();
                    folder.getName();
                    folder.getObject();
                    folder.getId();
                    folder.getAccountId();
                    }
            }
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderCreateUpdate'
            examples:
              CreateAFolderRequest:
                value:
                  display_name: My Renamed Folder
      tags:
        - Folders
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
              examples:
                CreateAFolderResponse:
                  value:
                    account_id: 79xcak1h10r1tmm5ogavx28lb
                    display_name: Archive
                    id: ajs4ef7xu74vns6o5ufsu69m7
                    name: archive
                    object: folder
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-400'
              examples:
                example-1:
                  value:
                    message: Error Message
                    type: Error Type
          description: Bad Request
        '401':
          $ref: '#/components/responses/Error-401'
      security:
        - ACCESS_TOKEN: []
      operationId: post-folders
      summary: Create a folder
      description: >-
        Creates a new folder.


        - Nylas folder names are case insensitive. This means, when creating
        folder names, `myfoldername` is the same as `MYFOLDERNAME`.

        - When creating a child folder, the parent folder must exist.
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            # Create a new folder
            curl -X POST 'https://api.nylas.com/folders' \
            -H 'Authorization: Bearer ACCESS_TOKEN' \
            -d '{
                "display_name": "My New Folder"
            }'
        - lang: py
          label: Python SDK
          source: >-
            from nylas import APIClient

            nylas = APIClient(
                CLIENT_ID,
                CLIENT_SECRET,
                ACCESS_TOKEN
            )


            # Create a new folder

            folder = nylas.folders.create()


            # The following attributes can be set for a new folder object

            folder.display_name = "My Custom Folder"


            # Save the folder to Nylas and the 3rd party provider

            # Note: folder.display_name must be assigned a value before you can
            save the folder

            folder.save()
        - lang: ruby
          label: Ruby SDK
          source: >-
            # Create a new folder

            folder = nylas.folders.create(display_name: 'My Custom Folder')


            # The following attributes can be set for a new folder object

            folder.display_name = "My Custom Folder"


            # Save the folder to Nylas and the 3rd party provider

            # Note: folder.display_name must be assigned a value before you can
            save the folder

            folder.save
        - lang: java
          label: Java SDK
          source: |-
            import java.io.IOException;
            import com.nylas.RequestFailedException;
            import com.nylas.NylasAccount;
            import com.nylas.NylasClient;
            import com.nylas.Folder;
            import com.nylas.Folders;

            public class NylasExamples {
                public static void postFolderExample() throws IOException, RequestFailedException {
                    NylasClient nylas = new NylasClient();
                    NylasAccount account = nylas.account("{ACCESS_TOKEN}");
                    Folders folders = account.folders();

                    // Create a new folder with the provided display name
                    Folder folder = folders.create("My Custom Folder");
                    }
            }
  '/folders/{id}':
    get:
      tags:
        - Folders
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
              examples:
                ReturnAFolderResponse:
                  value:
                    account_id: 79xcak1h10r1tmm5ogavx28lb
                    display_name: Archive
                    id: ajs4ef7xu74vns6o5ufsu69m7
                    name: archive
                    object: folder
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-400'
          description: Bad Request
        '401':
          $ref: '#/components/responses/Error-401'
      security:
        - ACCESS_TOKEN: []
      operationId: get-folders-id
      summary: Return a folder
      description: Returns a folder by ID.
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            curl -X GET 'https://api.nylas.com/folders/{folder_id}' \
            -H 'Authorization: Bearer ACCESS_TOKEN'
        - lang: py
          label: Python SDK
          source: |-
            from nylas import APIClient
            nylas = APIClient(
                CLIENT_ID,
                CLIENT_SECRET,
                ACCESS_TOKEN
            )
            # Replace {id} with the appropriate folder id
            folder = nylas.folders.get('{id}')


            # The following attributes are available for the folder object
            folder.display_name
            folder.name
            folder.object
            folder.account_id
            folder.id
        - lang: ruby
          label: Ruby SDK
          source: |-
            # Replace {id} with the appropriate folder id
            folder = nylas.folders.find('{id}')


            # The following attributes are available for the folder object
            folder.display_name
            folder.name
            folder.object
            folder.account_id
            folder.id
        - lang: js
          label: Node.js SDK
          source: |-
            # Replace {id} with the appropriate folder id
            nylas.folders.find('{id}').then(folder => console.log(folder));


            # The following attributes are available for the folder object
            folder.id
            folder.object
            folder.accountId
            folder.name
            folder.displayName
        - lang: java
          label: Java SDK
          source: |-
            import java.io.IOException;
            import com.nylas.RequestFailedException;
            import com.nylas.NylasAccount;
            import com.nylas.NylasClient;
            import com.nylas.Folder;
            import com.nylas.Folders;

            public class NylasExamples {
                public static void getFolderExample() throws IOException, RequestFailedException {
                    NylasClient nylas = new NylasClient();
                    NylasAccount account = nylas.account("{ACCESS_TOKEN}");
                    Folders folders = account.folders();

                    // Replace {id} with the appropriate folder id
                    Folder folder = folders.get("{id}");

                    // The following attributes are available for the folder object
                    folder.getDisplayName();
                    folder.getName();
                    folder.getId();
                    folder.getAccountId();
                    folder.getObject();
                    }
            }
    put:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderCreateUpdate'
            examples:
              UpdateAFolderRequest:
                value:
                  display_name: My Renamed Folder
                  name: renamed-folder
        description: ''
      tags:
        - Folders
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
              examples:
                UpdateAFolderResponse:
                  value:
                    account_id: 79xcak1h10r1tmm5ogavx28lb
                    display_name: Archive
                    id: ajs4ef7xu74vns6o5ufsu69m7
                    name: archive
                    object: folder
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-400'
              examples:
                example-1:
                  value:
                    message: Error Message
                    type: Error Type
          description: Bad Request
        '401':
          $ref: '#/components/responses/Error-401'
      security:
        - ACCESS_TOKEN: []
      operationId: put-folders-id
      summary: Update a folder
      description: >-
        Updates a folder by ID.


        Nylas folder names are case insensitive. This means, when updating
        folder names, `myfoldername` is the same as `MYFOLDERNAME`.
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            # Replace {id} to get a specific folder
            curl -X PUT 'https://api.nylas.com/folders/{folder_id}' \
            -H 'Authorization: Bearer ACCESS_TOKEN' \
            -d '{
                "display_name": "My New Folder Renamed"
            }'
        - lang: py
          label: Python SDK
          source: |-
            from nylas import APIClient
            nylas = APIClient(
                CLIENT_ID,
                CLIENT_SECRET,
                ACCESS_TOKEN
            )
            # Replace {id} to get a specific folder
            folder = nylas.folders.get('{id}')

            # The following attributes can be set for a new folder object
            folder.display_name = "My Custom Folder"

            # Save folder changes to Nylas and the 3rd party provider
            # display_name must be set before calling this function
            folder.save()
        - lang: ruby
          label: Ruby SDK
          source: |-
            # Replace {id} to get a specific folder
            folder = nylas.folders.find('{id}')

            # The following attributes can be set for a new folder object
            folder.display_name = "My Custom Folder"

            # Save folder changes to Nylas and the 3rd party provider
            folder.save
        - lang: js
          label: Node.js SDK
          source: |-
            // Replace {id} to get a specific folder
            let folder;
            nylas.folders.find('{id}').then(res => folder = res);

            // The following attributes can be set for a new folder object
            folder.displayName = 'My Custom Folder';

            // Save folder changes to Nylas and the 3rd party provider
            folder.save();
        - lang: java
          label: Java SDK
          source: |-
            import java.io.IOException;
            import com.nylas.RequestFailedException;
            import com.nylas.NylasAccount;
            import com.nylas.NylasClient;
            import com.nylas.Folders;

            public class NylasExamples {
                public static void putFolderExample() throws IOException, RequestFailedException {
                    NylasClient nylas = new NylasClient();
                    NylasAccount account = nylas.account("{ACCESS_TOKEN}");
                    Folders folders = account.folders();

                    // Update a folder's display name by passing the folder ID and the new name.
                    folders.setDisplayName("{folder_id}", "My Custom Label");
                    }
            }
    delete:
      tags:
        - Folders
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-400'
              examples:
                example-1:
                  value:
                    message: Error Message
                    type: Error Type
          description: Bad Request
        '401':
          $ref: '#/components/responses/Error-401'
      security:
        - ACCESS_TOKEN: []
      operationId: delete-folders-id
      summary: Delete a folder
      description: Deletes a folder.
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            curl -X DELETE 'https://api.nylas.com/folders/{folder_id}' \
            -H 'Authorization: Bearer ACCESS_TOKEN'
        - lang: py
          label: Python SDK
          source: |-
            from nylas import APIClient
            nylas = APIClient(
                CLIENT_ID,
                CLIENT_SECRET,
                ACCESS_TOKEN
            )

            # Delete folders by specifying the appropriate id
            nylas.folders.delete('{id}')
        - lang: ruby
          label: Ruby SDK
          source: |-
            # Replace {id} to get a specific folder
            folder = nylas.folders.find('{id}')

            # Delete folder
            folder.destroy
        - lang: js
          label: Node.js SDK
          source: |-
            // Delete folders by specifying the appropriate id
            nylas.folders.delete('{id}');
        - lang: java
          label: Java SDK
          source: |-
            import java.io.IOException;
            import com.nylas.RequestFailedException;
            import com.nylas.NylasAccount;
            import com.nylas.NylasClient;
            import com.nylas.Folders;

            public class NylasExamples {
                public static void deleteFolderExample() throws IOException, RequestFailedException {
                    NylasClient nylas = new NylasClient();
                    NylasAccount account = nylas.account("{ACCESS_TOKEN}");
                    Folders folders = account.folders();

                    // Delete folders by specifying the appropriate id
                    folders.delete("{folder_id}");
                    }
            }
    parameters:
      - name: id
        description: The ID of the folder.
        schema:
          type: string
        in: path
        required: true
  /oauth/authorize:
    get:
      tags:
        - Hosted Authentication
      parameters:
        - $ref: '#/components/parameters/client_id'
        - $ref: '#/components/parameters/redirect_uri'
        - $ref: '#/components/parameters/response_type'
        - $ref: '#/components/parameters/scopes'
        - $ref: '#/components/parameters/login_hint'
        - $ref: '#/components/parameters/state'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
              examples:
                AuthenticateUserResponse:
                  value:
                    code: string
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-400'
        '401':
          $ref: '#/components/responses/Error-401'
      security:
        - BASIC_AUTH: []
      operationId: get-oauth-authorize
      summary: Authenticate User
      description: >
        Authenticate your user using Hosted Authentication.



        **Scopes**


        Before making your request make sure you have the correct <a
        href="/docs/the-basics/authentication/authentication-scopes/">Nylas
        Scopes</a></p>
      x-code-samples:
        - lang: bash
          label: cURL
          source: >
            curl -G \
              --url 'https://api.nylas.com/oauth/authorize' \
              -H 'Authorization: Basic ENCODED_CLIENT_SECRET' \
              -d 'client_id=nylas_client_id' \
              -d 'redirect_uri=http://example.com/nylas_callback' \
              -d 'response_type=code' \
              -d 'scopes=email.read_only,calendar.read_only,contacts.read_only' \
              -d 'login_hint=my_email@example.com' \
              -d 'state=MyCustomStateString'
              
            # After your user authenticates, Nylas will return a unique,
            one-time-use code.

            # This code can be used to create an access token that grants access
            to the user account.
        - lang: py
          label: Python SDK
          source: >
            from nylas import APIClient



            nylas = APIClient(
                CLIENT_ID,
                CLIENT_SECRET
            )

            auth_url = nylas.authentication_url(
                "http://example.com/login_callback", # Required
                login_hint="your_email@example.com",  # Optional
                state="unique_identifier",  # Optional
                scopes='email, calendar, contacts' # Optional - Default is all scopes

            )


            # This is the URL you need to send the user to to authenticate their
            account.

            print(auth_url)


            # After your user authenticates, Nylas will return a unique,
            one-time-use code.

            # This code can be used to create an access token that grants access
            to the user account.
        - lang: ruby
          label: Ruby SDK
          source: |-
            use OmniAuth::Builder do
                provider :google_oauth2, ENV['GOOGLE_CLIENT_ID'], ENV['GOOGLE_CLIENT_SECRET'],
                  { name: 'google', access_type: :offline, approval_prompt: "force", prompt: 'consent',
                    scope: ['email', 'profile', 'https://mail.google.com/',
                            'https://www.google.com/m8/feeds/',
                            'calendar'].join(', ') }
              end
              get "/" do
                '<a href="/auth/google">Authenticate a Google Account</a>'
              end
              
              get "/auth/failure" do
                params[:message]
              end
        - lang: js
          label: Node.js SDK
          source: |-
            const Nylas = require('nylas');

            Nylas.config({
              clientId: CLIENT_ID,
              clientSecret: CLIENT_SECRET,
            });

            options = {
              loginHint: 'you_email@example.com',
              redirectURI: 'https://localhost/callback',
              scopes: ['email.read_only', 'email.send'],
            };

            // Redirect your user to the auth_url
            auth_url = Nylas.urlForAuthentication(options);
        - lang: java
          label: Java SDK
          source: |-
            import java.io.IOException;
            import com.nylas.RequestFailedException;
            import com.nylas.NylasApplication;
            import com.nylas.NylasClient;
            import com.nylas.HostedAuthentication;
            import com.nylas.Scope;

            public class NylasExamples {
                public static void hostedAuthExample() throws IOException, RequestFailedException {
                    NylasClient nylas = new NylasClient();
                    NylasApplication application = nylas.application("{CLIENT_ID}", "{CLIENT_SECRET}");

                    HostedAuthentication authentication = application.hostedAuthentication();
                    String hostedAuthUrl = authentication.urlBuilder()
                        .redirectUri("https://example.com/redirect")
                        .responseType("code") // Use token for client-side apps
                        .scopes(Scope.EMAIL, Scope.CALENDAR, Scope.CONTACTS)
                        .loginHint("nyla@nylas.com")
                        .state("example_csrf_token")
                        .buildUrl();
                    
                    // This is the URL you need to send the user to to authenticate their account.
                    System.out.println(hostedAuthUrl);

                    // After your user authenticates, Nylas will return a unique, one-time-use code.
                    // This code can be used to create an access token that grants access to the user account.
                    
                }
            }
  /oauth/token:
    post:
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostedAuth-SendAuthCode'
            examples:
              SendAccessTokenRequest:
                value:
                  client_id: string
                  client_secret: string
                  grant_type: string
                  code: string
      tags:
        - Hosted Authentication
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostedAuthenticationToken'
              examples:
                Send Authorization Code Example:
                  value:
                    access_token: aec7cad*************
                    account_id: d920**********
                    email_address: swag@nylas.com
                    provider: eas
                    token_type: bearer
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-400'
          description: Bad Request
        '401':
          $ref: '#/components/responses/Error-401'
      security:
        - BASIC_AUTH: []
      operationId: post-oauth-token
      summary: Send Authorization Code
      description: >-
        Send authorization code. An access token will return as part of the
        response.
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            curl -X POST \
              https://api.nylas.com/oauth/token \
              -H 'Authorization: Basic ENCODED_CLIENT_SECRET' \
              -d '{
                "client_id": "CLIENT_ID",
                "client_secret": "CLIENT_SECRET",
                "grant_type": "authorization_code",
                "code": "AUTHORIZATION_CODE"
            }'
        - lang: py
          label: Python SDK
          source: >-
            from nylas import APIClient


            # Create a client that has access to your Nylas app.

            nylas_app = APIClient(
                CLIENT_ID,
                CLIENT_SECRET
            )


            # Get an access token that grants access to user data and
            functionality.

            # You need to generate a one-time-use code via Nylas to pass to this
            function.


            ACCESS_TOKEN = nylas_app.token_for_code('{code_from_nylas}')


            nylas = APIClient(
                CLIENT_ID,
                CLIENT_SECRET,
                ACCESS_TOKEN
            )


            # Now you have a Nylas client object that has access to user data
            and functionality

            print(nylas.account)
        - lang: ruby
          label: Ruby SDK
          source: |-
            nylas_token = api.authenticate(
              name: auth_hash[:info][:name],
              email_address: auth_hash[:info][:email],
              provider: :gmail,
              settings: { 
                google_client_id: ENV['GOOGLE_CLIENT_ID'],
                google_client_secret: ENV['GOOGLE_CLIENT_SECRET'],
                google_refresh_token: auth_hash[:credentials][:refresh_token] 
              }
            )
        - lang: js
          label: Node.js SDK
          source: >-
            const Nylas = require('nylas');


            // Pass credentials to the Nylas client to manage authentication

            Nylas.config({

            clientId: CLIENT_ID,

            clientSecret: CLIENT_SECRET,

            });


            // Get an access token that grants access to user data and
            functionality.

            // You need to generate a one-time-use code via Nylas to pass to
            this function.

            let access_token;

            Nylas.exchangeCodeForToken(NYLAS_CODE).then(resp => access_token =
            resp);


            // Pass access_token to the Nylas client

            const nylas = Nylas.with(access_token);


            // Now your Nylas client object has access to user data and
            functionality

            nylas.calendars.list();
        - lang: java
          label: Java SDK
          source: |-
            import java.io.IOException;
            import com.nylas.RequestFailedException;
            import com.nylas.NylasApplication;
            import com.nylas.NylasClient;
            import com.nylas.NylasAccount;
            import com.nylas.HostedAuthentication;

            public class NylasExamples {
                public static void hostedTokenExample() throws IOException, RequestFailedException {
                    NylasClient nylas = new NylasClient();

                    // Create a client that has access to your Nylas app.
                    NylasApplication application = nylas.application("{CLIENT_ID}", "{CLIENT_SECRET}");
                    HostedAuthentication authentication = application.hostedAuthentication();

                    // Get an access token that grants access to user data and functionality.
                    // You need to generate a one-time-use code via Nylas to pass to this function.

                    String accessToken = authentication.fetchToken("{code}").getAccessToken();

                    // Now you have a Nylas client object that has access to user data and functionality
                    NylasAccount account = nylas.account(accessToken);
                }        
            }
  /oauth/revoke:
    post:
      tags:
        - Hosted Authentication
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-400'
          description: Bad Request
        '401':
          $ref: '#/components/responses/Error-401'
      security:
        - BASIC_AUTH: []
      operationId: post-oauth-revoke
      summary: Revoke Access Tokens
      description: >-
        Revoke access tokens.


        Include the to-be-revoked access token as the HTTP Basic Auth username.


        ```bash

        curl -X POST https://api.nylas.com/oauth/revoke --user
        ACCESS_TOKEN_TO_REVOKE

        ```


        A 200 status code response with a body of `{ "success": True }`
        signifies that the token has been successfully revoked and can no longer
        be used.


        If needed, you can also revoke all active access tokens by using the
        [Account
        Management](0/docs/api/#post-/a/-client_id-/accounts/-id-/revoke-all)
        endpoints.
      x-code-samples:
        - lang: bash
          label: cURL
          source: >-
            curl -X POST https://api.nylas.com/oauth/revoke --user
            ACCESS_TOKEN_TO_REVOKE:
        - lang: py
          label: Python SDK
          source: >-
            from nylas import APIClient


            # Pass the access token to the Nylas client to manage the account's
            tokens

            nylas = APIClient(
                CLIENT_ID,
                CLIENT_SECRET,
                ACCESS_TOKEN
            )


            # Revoke the access token that was passed to the Nylas client.

            nylas.revoke_token()


            # Revoke all access tokens for the user account.

            nylas.revoke_all_tokens()


            # You can also revoke all tokens except for one.

            nylas.revoke_all_tokens(keep_access_token='{ACCESS_TOKEN}')
        - lang: ruby
          label: Ruby SDK
          source: |2-
                # Revoke the nylas access token so it cannot be used in the future (you probably don't want to do this
                # unless people deactivate their account with your software)
                api.revoke(nylas_token)
        - lang: js
          label: Node.js SDK
          source: |-
            const Nylas = require('nylas');

            // Pass credentials to the Nylas client to manage authentication
            Nylas.config({
            clientId: CLIENT_ID,
            clientSecret: CLIENT_SECRET,
            });

            // Get the user account
            let account;
            Nylas.accounts.find(ACCOUNT_ID).then(resp => account = resp);

            // Revoke all access tokens for the user account.
            account.revokeAll();

            // You can also revoke all tokens except for one.
            nylas.revokeAll(ACCESS_TOKEN);
        - lang: java
          label: Java SDK
          source: |-
            import java.io.IOException;
            import com.nylas.RequestFailedException;
            import com.nylas.NylasApplication;
            import com.nylas.NylasClient;
            import com.nylas.Accounts;

            public class NylasExamples {
                public static void revokeTokensExample() throws IOException, RequestFailedException {
                    NylasClient nylas = new NylasClient();
                    NylasApplication application = nylas.application("{CLIENT_ID}", "{CLIENT_SECRET}");
                    Accounts accounts = application.accounts();

                    // Revoke all tokens for an account by providing its ID
                    accounts.revokeAllTokensForAccount("{accountId}", null);

                    // Pass an optional access token to revoke all tokens except for one.
                    accounts.revokeAllTokensForAccount("{accountId}", "{ACCESS_TOKEN}");
                    }
            }
  /connect/authorize:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NativeAuthPost'
            examples:
              Google Service Account:
                $ref: '#/components/examples/Google_Service_Accounts'
              Office 365:
                $ref: '#/components/examples/Office_365'
              Exchange:
                $ref: '#/components/examples/Exchange'
              Virtual Calendar:
                $ref: '#/components/examples/Virtual_Calendar'
              Gmail:
                $ref: '#/components/examples/Gmail'
              IMAP:
                $ref: '#/components/examples/GenericImap'
              Known Imap:
                $ref: '#/components/examples/KnownImap'
              Outlook:
                $ref: '#/components/examples/Outlook'
              Exchange Service Accounts With OAuth:
                $ref: '#/components/examples/Exchange_Service_Account_OAuth'
              Exchange Service Account with a Password:
                $ref: '#/components/examples/Exchange_Service_Accounts_Password'
        description: ''
      tags:
        - Native Authentication
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
              examples:
                Native Auth Response Code:
                  $ref: '#/components/examples/NativeAuthCode'
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: object
              examples:
                example-1:
                  value:
                    message: Please include the missing fields
                    type: auth_error
                    missing_fields:
                      - provider
                    error: Missing fields.
          description: Bad Request
        '401':
          $ref: '#/components/responses/Error-401'
        '403':
          content:
            application/json:
              schema:
                type: object
              examples:
                example-1:
                  value:
                    message: Please include the missing fields
                    type: auth_error
                    missing_fields:
                      - provider
                    error: Missing fields.
          description: Forbidden
      operationId: post-connect-authorize
      summary: Send Authorization
      description: >-
        A successful authentication will return your application a JSON encoded
        body with a single code parameter. In the next step, your server backend
        should exchange this code for an access token, which can then be used to
        make API requests.


        Each provider requires different settings. Review the [Provider Specific
        Settings](/docs/the-basics/provider-guides/) for more information.


        **Related Guides**


        - [Native
        Authentication](/docs/the-basics/authentication/native-authentication/)

        - [Authentication
        Scopes](/docs/the-basics/authentication/hosted-authentication/)


        **Scopes**


        Before making your request make sure you have the correct [Nylas
        scopes](/docs/the-basics/authentication/authentication-scopes/)
      x-code-samples:
        - lang: bash
          label: cURL
          source: >-
            # The following examples will return a one-time-use code.

            # This code can be exchanged for an account access token that grants
            full access to user account functionality.


            # Authenticate Google Accounts

            curl -X POST https://api.nylas.com/connect/authorize -d '{ 
                "client_id": "nylas_client_id",
                "name": "Nyla the Cheetah",
                "email_address": "nyla@nylas.com",
                "provider": "gmail",
                "settings": {
                    "google_client_id": "{google_api_client_id}",
                    "google_client_secret": "{geoogle_api_client_secret}",
                    "google_refresh_token": "{google_api_refresh_token}"
                },
                "scopes": "email.read_only,calendar.read_only,contacts.read_only"
            }'


            # Authenticate Google Account using a Service Account

            curl -X POST https://api.nylas.com/connect/authorize -d '{
                "client_id": "nylas_client_id",
                "name": "Nyla the Cheetah",
                "email_address": "nyla@gmail.com", # Account to be authenticated
                "provider": "gmail",
                "settings": {
                    "service_account_json": { # Service account credentials
                    "type": "service_account",
                    "project_id": "my-google-app-123456",
                    "private_key_id": "68915b4e55baac9191dd32e0be784687c6873b14",
                    "private_key": "-----BEGIN PRIVATE KEY-----\nMIIE....fZ1F8=\n-----END PRIVATE KEY-----\n",
                    "client_email": "test-service-account@my-google-app-123456.iam.gserviceaccount.com",
                    "client_id": "10569134234239528168761",
                    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
                    "token_uri": "https://oauth2.googleapis.com/token",
                    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
                    "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/test-service-account%40my-google-app-123456.iam.gserviceaccount.com"
                },
                "scopes": "calendar"
            }'


            # Authenticate Office365 Accounts

            curl -X POST https://api.nylas.com/connect/authorize -d '{ 
                "client_id": "nylas_client_id",
                "name": "Nyla the Cheetah",
                "email_address": "nyla@nylas.com",
                "provider": "office365",
                "settings":{
                    "microsoft_client_id":     "{microsoft_client_id}",
                    "microsoft_client_secret": "{microsoft_client_secret}",
                    "microsoft_refresh_token": "{microsoft_refresh_token}",
                    "redirect_uri":            "https://example.com/redirect", # Redirect URI that the was originally used to get the refresh token        
                },
                "scopes": "email.read_only,calendar.read_only,contacts.read_only"
            }'


            # Authenticate Exchange Accounts

            curl -X POST https://api.nylas.com/connect/authorize -d '{
                "client_id": "nylas_client_id",
                "name": "Nyla the Cheetah",
                "email_address": "nyla@nylas.com",
                "provider": "exchange",
                "settings": {
                    "username": "nyla@nylas.com",
                    "password": "MakeEmailSuckLess",
                    "exchange_server_host": "exchange.nylas.com"
                },
                "scopes": "email.read_only,calendar.read_only,contacts.read_only"
            }'


            # Authenticate Exchange Account using a Service Account via Password

            curl -X POST https://api.nylas.com/connect/authorize -d '{
                "client_id": "nylas_client_id",
                "name": "Nyla the Cheetah",
                "email_address": "nyla@nylas.com", # Account to authenticate
                "provider": "exchange",
                "settings": {
                    "username": "username", # Service account username
                    "password": "password", # Service account password
                    "service_account": true
                },
                "scopes": "calendar.read_only"
            }'


            # Authenticate Exchange Account using a Service Account via OAuth

            curl -X POST https://api.nylas.com/connect/authorize -d '{ 
                "client_id":     "nylas_client_id",
                "name":          "Nyla the Cheetah",
                "email_address": "nyla@nylas.com",   # Account to authenticate
                "provider":      "exchange",
                "settings": {
                    "microsoft_client_id":     "{microsoft_client_id}",
                    "microsoft_client_secret": "{microsoft_client_secret}",
                    "microsoft_refresh_token": "{microsoft_refresh_token}", # Service account refresh token!
                    "redirect_uri":            "https://example.com/redirect",
                    "service_account": true
                },
                "scopes": "calendar"
            }'


            # Authenticate Outlook Accounts

            curl -X POST https://api.nylas.com/connect/authorize -d '{
                "client_id": "nylas_client_id",
                "name": "Nyla the Cheetah",
                "email_address": "nyla@outlook.com",
                "provider": "outlook",
                "settings": {
                    "username": "nyla@outlook.com",
                    "password": "MakeEmailSuckLess",
                    "exchange_server_host": "eas.outlook.com"
                },
                "scopes": "email.read_only,calendar.read_only,contacts.read_only"
            }'


            # Authenticate known IMAP providers

            curl -X POST https://api.nylas.com/connect/authorize -d '{
                "client_id": "nylas_client_id",
                "name": "Nyla the Cheetah",
                "email_address": "nyla@aol.com",
                "provider": "aol",
                "settings": {
                    "password": "MakeEmailSuckLess"
                },
                "scopes": "email.read_only,calendar.read_only,contacts.read_only"
            }'


            # Authenticate a generic IMAP provider

            curl -X POST https://api.nylas.com/connect/authorize -d '{
                "client_id": "nylas_client_id",
                "name": "Nyla the Cheetah",
                "email_address": "nyla@nylas.com",
                "provider": "imap",
                "settings": {
                    "imap_host": "imap.nylas.com",
                    "imap_port": 993,
                    "imap_username": "nyla",
                    "imap_password": "MakeEmailSuckLess",
                    "smtp_host": "smtp.nylas.net",
                    "smtp_port": 587,
                    "smtp_username": "nyla",
                    "smtp_password": "MakeEmailSuckLess",
                    "ssl_required": true
                },
                "scopes": "email.read_only,calendar.read_only,contacts.read_only"
            }'


            # Virtual Calendars


            curl --location --request POST
            'https://api.nylas.com/connect/authorize' \
                --data-raw '{
                "client_id": "9df4ff17888f4729ad4e1463d2547d",
                "provider": "nylas",
                "scopes": "calendar", 
                "email": "virtual_account_unique_id",
                "name": "Virtual Calendar",
                "settings": {}
                }'
        - lang: py
          label: Python SDK
          source: >-
            from nylas import APIClient

            import requests


            # Create a client that has access to your Nylas app.

            nylas = APIClient(
                CLIENT_ID,
                CLIENT_SECRET
            )


            # Authenticate Gmail Accounts

            gmail_authentication = {
                # Example: https://github.com/nylas/nylas-python/tree/master/examples/native-authentication-gmail
                "client_id": CLIENT_ID,
                "name":          "Nyla The Cheetah",
                "email_address": "nyla@nylas.com",
                "provider":      "gmail",
                "settings":      {  # See the Example above to learn more about these values
                  "google_client_id":     "{google_api_client_id}",
                  "google_client_secret": "{google_api_client_secret}",
                  "google_refresh_token": "{google_api_refresh_token}"
                },
                "scopes": "email,calendar,contacts"
            }


            # Post the authentication payload to Nylas.

            nylas_authorization = requests.post(
                    "https://api.nylas.com/connect/authorize", json=gmail_authentication
            )


            # This code can be exchanged for an account access token

            nylas_code = nylas_authorization.json()["code"]


            # -------------------------------------------

            # The remainder contains examples of how to authenticate other types
            of accounts


            # Authenticate Exchange Accounts

            exchange_authentication = {
                # Example: https://github.com/nylas/nylas-python/tree/master/examples/native-authentication-exchange
                "client_id": CLIENT_ID,
                "name":          "Nyla The Cheetah",
                "email_address": "nyla@nylas.com",
                "provider":      "exchange",
                "settings": {
                    "username": "nyla@exchange_server.com",
                    "password": "MakeEmailSuckLess",
                    "eas_server_host": "exchange.your_server.com"
                },
                "scopes": "email,calendar,contacts"
            }


            # Authenticate an Outlook Account

            outlook_authentication = {
                "client_id": CLIENT_ID,
                "name":          "Nyla The Cheetah",
                "email_address": "nyla@outlook.com",
                "provider": "outlook",
                "settings": { # Uses the same format as Exchange Servers
                    "username": "nyla@outlook.com",
                    "password": "MakeEmailSuckLess",
                    "eas_server_host": "outlook.com"

                },
                "scopes": "email,calendar,contacts"
            }


            # Authenticate an account from a known IMAP provider

            known_imap_authentication = {
                "client_id": CLIENT_ID,
                "name":          "Nyla The Cheetah",
                "email_address": "nyla@yahoo.com",
                "provider": "yahoo",  # can also be aol, icloud, or hotmail
                "settings": {
                    "password": "MakeEmailSuckLess"
                },
                "scopes": "email,calendar,contacts"
            }


            # Authenticate any other IMAP account

            generic_imap_authentication = {
                "client_id": CLIENT_ID,
                "name": "Nyla The Cheetah",
                "email_address": "nyla@nylas.com",
                "provider": "imap",
                "settings":      {
                    "imap_host":     "imap.nylas.com",
                    "imap_port":     12345,
                    "imap_username": "nyla",
                    "imap_password": "MakeEmailSuckLess",
                    "smtp_host":     "smtp.nylas.net",
                    "smtp_port":     12346,
                    "smtp_username": "nyla",
                    "smtp_password": "MakeEmailSuckLess",
                    "ssl_required":  'true'
                },
                "scopes": "email,calendar,contacts"
            }
        - lang: rb
          label: Ruby SDK
          source: |-
            nylas_token = api.authenticate(
              name: auth_hash[:info][:name], 
              email_address: auth_hash[:info][:email],
              provider: :gmail,
              settings: {
                google_client_id: ENV['GOOGLE_CLIENT_ID'],
                google_client_secret: ENV['GOOGLE_CLIENT_SECRET'],
                google_refresh_token: auth_hash[:credentials][:refresh_token] 
              }
            )
        - lang: JS
          label: Node.js SDK
          source: "// The following examples will return a Promise, which resolves to a one-time-use code.\n// This code can be exchanged for an account access token that grants full access to user account functionality.\n\nconst Nylas = require('nylas');\n\nNylas.config({\n  clientId: CLIENT_ID,\n  clientSecret: CLIENT_SECRET,\n});\n\n// Authenticate Google Accounts\nNylas.connect.authorize({\n  name: 'Nyla The Cheetah',\n  email_address: 'nyla@gmail.com',\n  provider: 'gmail',\n  settings: {\n    google_client_id: '{google_api_client_id}',\n    google_client_secret: '{google_api_client_secret}',\n    google_refresh_token: '{google_api_refresh_token}',\n  },\n  scopes: 'email.read_only,calendar.read_only,contacts.read_only'\n});\n\n// Authenticate Office365 Accounts\nNylas.connect.authorize({\n  name: 'Nyla The Cheetah',\n  email_address: 'nyla@nylas.com',\n  provider: 'office365',\n  settings: {\n    microsoft_client_id: '{microsoft_client_id}',\n    microsoft_client_secret: '{microsoft_client_secret}',\n    microsoft_refresh_token: '{microsoft_refresh_token}',\n    redirect_uri: 'https://example.com/redirect', // Redirect URI that the was originally used to get the refresh token\n  },\n  scopes: 'email.read_only,calendar.read_only,contacts.read_only'\n});\n\n// Authenticate Exchange Accounts\nNylas.connect.authorize({\n  name: 'Nyla The Cheetah',\n  email_address: 'nyla@nylas.com',\n  provider: 'exchange',\n  settings: {\n    username: 'nyla@nylas.com',\n    password: 'MakeEmailSuckLess'\n  },\n  scopes: 'email.read_only,calendar.read_only,contacts.read_only'\n});\n\n// Authenticate Outlook Accounts\nNylas.connect.authorize({\n  name: 'Nyla The Cheetah',\n  email_address: 'nyla@outlook.com',\n  provider: 'outlook',\n  settings: {\n    username: 'nyla@outlook.com',\n    password: 'MakeEmailSuckLess',\n    eas_server_host: \"outlook.com\"\n  },\n  scopes: 'email.read_only,calendar.read_only,contacts.read_only'\n});\n\n// Authenticate known IMAP providers\nNylas.connect.authorize({\n  name: 'Nyla The Cheetah',\n  email_address: 'nyla@aol.com',\n  provider: 'aol',\n  settings: {\n  \tpassword: 'MakeEmailSuckLess',\n  },\n  scopes: 'email.read_only,calendar.read_only,contacts.read_only'\n});\n\n// Authenticate a generic IMAP provider\nNylas.connect.authorize({\n  name: 'Nyla The Cheetah',\n  email_address: 'nyla@nylas.com',\n  provider: 'imap',\n  settings: {\n    imap_host: 'imap.nylas.com',\n    imap_port: 993,\n    imap_username: 'nyla',\n    imap_password: 'MakeEmailSuckLess',\n    smtp_host: 'smtp.nylas.com',\n    smtp_port: 465,\n    smtp_username: 'nyla',\n    smtp_password: 'MakeEmailSuckLess',\n    ssl_required: true\n  },\n  scopes: 'email.read_only,calendar.read_only,contacts.read_only'\n});"
        - lang: java
          label: Java SDK
          source: "import java.io.IOException;\nimport com.nylas.RequestFailedException;\nimport com.nylas.NylasApplication;\nimport com.nylas.NylasClient;\nimport com.nylas.Scope;\nimport com.nylas.NativeAuthentication;\nimport com.nylas.NativeAuthentication.AuthRequestBuilder;\n\nimport com.nylas.GoogleProviderSettings;\nimport com.nylas.ImapProviderSettings;\n\n\npublic class NylasExamples {\n    public static void nativeAuthExample() throws IOException, RequestFailedException {\n        NylasClient nylas = new NylasClient();\n        NylasApplication application = nylas.application(\"{CLIENT_ID}\", \"{CLIENT_SECRET}\");\n        NativeAuthentication authentication = application.nativeAuthentication();\n\n        ImapProviderSettings settings = new ImapProviderSettings()\n            .imapHost(\"imap.nylas.com\")\n            .imapPort(1234)\n            .imapUsername(\"nyla\")\n            .imapPassword(\"MakeEmailSuckLess\")\n            .smtpHost(\"smtp.nylas.com\")\n            .smtpPort(2345)\n            .smtpUsername(\"nyla\")\n            .smtpPassword(\"MakeEmailSuckLess\")\n            .sslRequired(true)\n            ;\n\n        AuthRequestBuilder authRequest = authentication.authRequest()\n            .name(\"Nyla The Cheetah\")\n            .emailAddress(\"nyla@nylas.com\")\n            .providerSettings(settings)\n            .scopes(Scope.EMAIL, Scope.CALENDAR, Scope.CONTACTS);\n                                \n        System.out.println(\"Making a native authentication request.\");\n        String authorizationCode = authRequest.execute();\n        System.out.println(\"Success! Authorization code: \" + authorizationCode);\n\n\t\t\t\t// --------------------------------------------------------\n        // The remainder contains examples of how to authenticate other types of accounts\n        \n        // Authenticate Google Accounts\n        GoogleProviderSettings googleSettings = new GoogleProviderSettings()\n            .googleClientId(\"google.api.client.id\")\n            .googleClientSecret(\"google.api.client.secret\")\n            .googleRefreshToken(\"google.refresh.token\")\n            ;\n\n        ProviderSettings office365Auth = new MicrosoftOffice365ProviderSettings()\n                .microsoftClientId(\"{MS_CLIENT_ID}\")\n                .microsoftClientSecret(\"{MS_CLIENT_SECRET}\")\n                .microsoftRefreshToken(\"{MS_REFRESH_TOKEN}\")\n                .redirectUri(\"example.com/nylas-redirect\")\n                ;\n        \n        ProviderSettings exchangeAuth = new MicrosoftExchangeProviderSettings()\n                .username(\"nyla@exchange_server.com\")\n                .password(\"MakeEmailSuckLess\")\n                .easServerHost(\"exchange.your_server.com\")\n                ;\n        \n        ProviderSettings knownImapAuth = new KnownImapProviderSettings(\n                \"yahoo\")\n                .password(\"MakeEmailSuckLess\")\n                ;\n    }\n}"
      security:
        - BASIC_AUTH: []
  /account:
    get:
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGet'
              examples:
                ReturnAccountDetails:
                  value:
                    id: awa6ltos76vz5hvphkp8k17nt
                    object: account
                    account_id: awa6ltos76vz5hvphkp8k17nt
                    name: Dorothy Vaughan
                    provider: gmail
                    organization_unit: label
                    sync_state: running
                    linked_at: 1470231381
                    email_address: dorothy@spacetech.com
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-400'
          description: Bad Request
        '401':
          $ref: '#/components/responses/Error-401'
      security:
        - ACCESS_TOKEN: []
      operationId: get-account
      summary: Return Account Details
      description: Returns account details.
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            curl --location --request GET 'https://api.nylas.com/account' \
            --header 'Content-Type: application/json' \
            --header 'Authorization: Basic <YOUR-TOKEN-STRING>'
        - lang: py
          label: Python SDK
          source: "nylas = APIClient(\n    CLIENT_ID,\n    CLIENT_SECRET,\n  \tACCESS_TOKEN\n)\naccount = nylas.account\n\n# The following attributes are available for the Account object\naccount.id\naccount.account_id\naccount.object\naccount.name\naccount.email_address\naccount.provider\naccount.organization_unit\naccount.sync_state\naccount.linked_at"
        - lang: ruby
          label: Ruby SDK
          source: |-
            nylas = Nylas::API.new(
                app_id: APP_ID,
                app_secret: APP_SECRET,
                access_token: ACCESS_TOKEN
            )

            account = nylas.current_account

            # The following attributes are available for the Account object
            account.id
            account.account_id
            account.object
            account.name
            account.email_address
            account.provider
            account.organization_unit
            account.sync_state
            account.linked_at
        - lang: js
          label: Node.js SDK
          source: |-
            nylas.account.get().then(account => console.log(account));

            // The following attributes are available for the Account object
            account.id
            account.accountId
            account.object
            account.name
            account.emailAddress
            account.provider
            account.organizationUnit
            account.syncState
            account.linkedAt
        - lang: java
          label: Java SDK
          source: |-
            import java.io.IOException;
            import com.nylas.RequestFailedException;
            import com.nylas.AccountDetail;
            import com.nylas.NylasClient;

            public class DocExamples {
                public static void getAccountExample() throws IOException, RequestFailedException {
                    NylasClient nylas = new NylasClient();
                    AccountDetail account = nylas.account("{ACCESS_TOKEN}").fetchAccountByAccessToken();
                    
                    // The following attributes are available for the account object
                    account.getId();
                    account.getName();
                    account.getEmailAddress();
                    account.getProvider();
                    account.getOrganizationUnit();
                    account.getSyncState();
                    account.getLinkedAt();
                    }
            }
  /connect/token:
    post:
      summary: Exchange the Token
      tags:
        - Native Authentication
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NativeAuthToken'
              examples:
                ExchangeTokenResponse:
                  value:
                    access_token: token
                    account_id: account-id
                    billing_state: paid
                    email_address: nyla@nylas.com
                    id: id
                    linked_at: 1563496685
                    name: Nyla The Cheeta
                    object: account
                    organization_unit: label
                    provider: google
                    sync_state: running
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-400'
        '401':
          $ref: '#/components/responses/Error-401'
      operationId: post-connect-token
      description: >
        This endpoint is where your application exchanges the code received from
        `/connect/authorize` and receives an access token. This associates


        A successful response from this will be an account object with an
        `access_token attribute`. Once you’ve obtained a token, you include it
        with Nylas API requests as the HTTP Basic Auth Username.


        You can remove this account from your Nylas Cloud app in the Nylas API
        console.



        **Never send your client secret to a browser**


        This request should be made from your server. It's important that you
        never send your client secret to a browser. In order to do this, your
        browser JavaScript code should securely send the received code in the
        previous step to your web app, which in turn makes the request to
        `/connect/token`
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            curl -X POST "https://api.nylas.com/connect/token" -d '{
              "client_id": "{client-id}",
              "client_secret": "{client-secret}",
              "code": "{nylas_code}"
            }'
        - lang: py
          label: Python SDK
          source: >-
            from nylas import APIClient


            # Create a client that has access to your Nylas app.

            nylas_app = APIClient(
                CLIENT_ID,
                CLIENT_SECRET
            )


            # Get an access token that grants access to user data and
            functionality.

            # You need to generate a one-time-use code via Nylas to pass to this
            function.

            ACCESS_TOKEN = nylas_app.token_for_code('{code_from_nylas}')


            nylas = APIClient(
                CLIENT_ID,
                CLIENT_SECRET,
                ACCESS_TOKEN
            )


            # Now you have a Nylas client object that has access to user data
            and functionality

            print(nylas.account)
        - lang: rb
          label: Ruby SDK
          source: "auth_hash = env['omniauth.auth']\n\nnylas_token = api.authenticate(name: auth_hash[:info][:name], \n  \temail_address: auth_hash[:info][:email], \n    provider: :gmail, settings:\n    { \n      google_client_id: ENV['GOOGLE_CLIENT_ID'],\n      google_client_secret: ENV['GOOGLE_CLIENT_SECRET'],\n      google_refresh_token: auth_hash[:credentials][:refresh_token] })\n\napi_as_user = api.as(nylas_token)"
        - lang: js
          label: Node.js SDK
          source: >-
            // The following examples will return a Promise, which resolves to a
            Nylas account, complete with account id and access token.

            // This access token grants full access to user account
            functionality.


            const Nylas = require('nylas');


            Nylas.config({
              clientId: CLIENT_ID,
              clientSecret: CLIENT_SECRET,
            });


            // First, you need to generate a one-time-use code via Nylas


            let access_code;


            Nylas.connect.authorize({
              name: 'Nyla The Cheetah',
              email_address: 'nyla@gmail.com',
              provider: 'gmail',
              settings: {
                google_client_id: '{google_api_client_id}',
                google_client_secret: '{google_api_client_secret}',
                google_refresh_token: '{google_api_refresh_token}',
              },
              scopes: 'email.read_only,calendar.read_only,contacts.read_only'
            }).then(resp => access_code = resp.code);


            // Use this code to connect the account to your Nylas Application

            let account;

            Nylas.connect.token(access_code).then(resp => account = resp);


            // Use the account's access token to get a Nylas client with access
            to the account's data and functionality

            const nylas = Nylas.with(account.access_token);

            nylas.calendars.list().then(resp => console.log(resp));
        - lang: java
          label: Java SDK
          source: |-
            import java.io.IOException;
            import com.nylas.RequestFailedException;
            import com.nylas.NylasApplication;
            import com.nylas.NylasClient;
            import com.nylas.NylasAccount;
            import com.nylas.NativeAuthentication;


            public class NylasExamples {
                public static void nativeTokenExample() throws IOException, RequestFailedException {
                    NylasClient nylas = new NylasClient();
                    // Create a client that has access to your Nylas app.
                    NylasApplication application = nylas.application("{CLIENT_ID}", "{CLIENT_SECRET}");
                    NativeAuthentication authentication = application.nativeAuthentication();

                    // Get an access token that grants access to user data and functionality.
                    // You need to generate a one-time-use code via Nylas to pass to this function.

                    String accessToken = authentication.fetchToken("{code}").getAccessToken();

                    // Now you have a Nylas client object that has access to user data and functionality
                    NylasAccount account = nylas.account(accessToken);
                }
            }
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                  description: Your client ID from the Nylas Developer console.
                client_secret:
                  type: string
                  description: Your client secret from the Nylas Developer console.
                code:
                  type: string
                  description: The value returned from calling `/connect/authorize`.
              required:
                - client_id
                - client_secret
                - code
            examples:
              ExchangeTokenRequest:
                value:
                  client_id: string
                  client_secret: string
                  code: string
        description: ''
  '/a/{client_id}/accounts':
    get:
      summary: Return All Accounts
      tags:
        - Account Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountReturnAll'
              examples:
                Return All Accounts:
                  $ref: '#/components/examples/Return_All_Accounts'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-400'
        '401':
          $ref: '#/components/responses/Error-401'
      operationId: get-a-client_id-accounts
      description: Returns a list of all accounts.
      x-code-samples:
        - lang: bash
          label: cURL
          source: "curl -X GET \\\n  https://api.nylas.com/a/{client_id}/accounts/ \\\n\t-H 'Authorization: Basic ENCODED_SECRET'"
        - lang: py
          label: Python SDK
          source: >-
            nylas = APIClient(
                CLIENT_ID,
                CLIENT_SECRET
            )


            # Return a list of dictionary objects that represent all accounts
            connected to an app

            accounts = nylas.accounts.all()


            # Return an account specified by a specific id

            account = nylas.accounts.get('{id}')


            # Return the first account

            account = nylas.accounts.first()


            # The following attributes are available for the account object

            account.email

            account.id

            account.sync_state

            account.billing_state

            account.trial
        - lang: ruby
          label: Ruby SDK
          source: >-
            nylas = Nylas::API.new(
                app_id: CLIENT_ID,
                app_secret: CLIENT_SECRET
            )


            # Return a list of dictionary objects that represent all accounts
            connected to an app

            accounts = nylas.accounts


            # Return an account specified by a specific id

            account = nylas.accounts.find('{id}')


            # Return the first account

            account = nylas.accounts.first


            # The following attributes are available for the account object

            account.email

            account.id

            account.sync_state

            account.billing_state

            account.trial
        - lang: js
          label: Node.js SDK
          source: >-
            const Nylas = require('nylas');

            Nylas.config({clientId: 'clientId', clientSecret: 'clientSecret'});


            Nylas.accounts.list().then(accounts => console.log(accounts));


            // Get an account specified by a specific id

            Nylas.accounts.find('accountId').then(account =>
            console.log(account));


            // Get the first account

            Nylas.accounts.first().then(account => console.log(account));


            // The following attributes are available for the Account object

            account.id

            account.accountId

            account.billingState

            account.emailAddress

            account.provider

            account.syncState

            account.trial

            account.clientId
        - lang: java
          label: Java SDK
          source: |-
            import java.io.IOException;
            import com.nylas.RequestFailedException;
            import com.nylas.NylasApplication;
            import com.nylas.NylasClient;
            import com.nylas.Account;
            import com.nylas.Accounts;

            public class NylasExamples {
                public static void getAccountsExample() throws IOException, RequestFailedException {
                    NylasClient nylas = new NylasClient();
                    NylasApplication application = nylas.application("{CLIENT_ID}", "{CLIENT_SECRET}");
                    Accounts accounts = application.accounts();
                    
                    // Return all accounts connected to your Nylas app
                    accounts.list();

                    // Return an account by specifying its ID
                    Account account = accounts.get("{accountId}");
                    
                    // The following attributes are available for the account object
                    account.getBillingState();
                    account.getEmail();
                    account.getProvider();
                    account.getSyncState();
                    account.getTrial();
                    }
            }
      security:
        - BASIC_AUTH: []
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
    parameters:
      - schema:
          type: string
        name: client_id
        in: path
        required: true
        description: The client ID of your Nylas developer application.
  '/a/{client_id}/accounts/{id}':
    parameters:
      - schema:
          type: string
        name: client_id
        in: path
        required: true
        description: The ID of your Nylas developer application.
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The ID of the account.
    get:
      summary: Return a Account
      tags:
        - Account Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountReturnAll'
              examples:
                ReturnAnAccount:
                  value:
                    account_id: 123rvgm1iccsgnjj7nn6jwu1
                    billing_state: paid
                    email: example@example.com
                    id: 123rvgm1iccsgnjj7nn6jwu1
                    provider: gmail
                    sync_state: running
                    trial: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-400'
        '401':
          $ref: '#/components/responses/Error-401'
      operationId: get-a-client_id-accounts-id
      description: Returns details from a single account.
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            curl -X GET \
              https://api.nylas.com/a/{client_id}/accounts/{id} \
              -H 'Authorization: Basic ENCODED_SECRET'
        - lang: py
          label: Python SDK
          source: |-
            from nylas import APIClient
            nylas = APIClient(
                CLIENT_ID,
                CLIENT_SECRET
            )

            # Return an account specified by a specific id
            account = nylas.accounts.get('{id}')

            # Return the first account
            account = nylas.accounts.first()

            # The following attributes are available for the account object
            account.email
            account.id
            account.sync_state
            account.billing_state
            account.trial
        - lang: ruby
          label: Ruby SDK
          source: |-
            nylas = Nylas::API.new(
                app_id: APP_ID,
                app_secret: APP_SECRET
            )
        - lang: js
          label: Node.js SDK
          source: >-
            const Nylas = require('nylas');

            Nylas.config({clientId: 'clientId', clientSecret: 'clientSecret'})


            // Get an account specified by a specific id

            Nylas.accounts.find('accountId').then(account =>
            console.log(account));


            // Get the first account

            Nylas.accounts.first().then(account => console.log(account));


            // The following attributes are available for the Account object

            account.id

            account.accountId

            account.billingState

            account.emailAddress

            account.provider

            account.syncState

            account.trial

            account.clientId
        - lang: java
          label: Java SDK
          source: |-
            import java.io.IOException;
            import com.nylas.RequestFailedException;
            import com.nylas.NylasApplication;
            import com.nylas.NylasClient;

            import com.nylas.Account;
            import com.nylas.Accounts;

            public class NylasExamples {
                public static void getAccountExample() throws IOException, RequestFailedException {
                    NylasClient nylas = new NylasClient();
                    NylasApplication application = nylas.application("{CLIENT_ID}", "{CLIENT_SECRET}");
                    Accounts accounts = application.accounts();

                    // Return an account by specifying its ID
                    Account account = accounts.get("{accountId}");
                    
                    // The following attributes are available for the account object
                    account.getBillingState();
                    account.getEmail();
                    account.getProvider();
                    account.getSyncState();
                    account.getTrial();
                    }
            }
      parameters:
        - $ref: '#/components/parameters/Accept'
      security:
        - BASIC_AUTH: []
    delete:
      summary: Delete an Account
      operationId: delete-a-client_id-accounts-id
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Error-401'
      description: >-
        Deletes an account. Accounts deleted using this method are immediately
        unavailable.
      x-code-samples:
        - lang: bash
          label: cURL
          source: >-
            curl --location -g --request DELETE
            'https://api.nylas.com/a/{client_id}/accounts/{id}' \

            --header 'Authorization: Basic <NYLAS_CLIENT_SECRET>'
      security:
        - BASIC_AUTH: []
      parameters:
        - $ref: '#/components/parameters/Accept'
      tags:
        - Account Management
  '/a/{client_id}/accounts/{id}/downgrade':
    post:
      summary: Cancel an Account
      tags:
        - Account Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  success:
                    type: string
                    minLength: 1
                required:
                  - success
              examples:
                CreateAnAccount:
                  $ref: '#/components/examples/CancelAnAccount'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-400'
        '401':
          $ref: '#/components/responses/Error-401'
      operationId: post-a-client_id-accounts-id-downgrade
      description: >-
        Cancels a paid Nylas account. Accounts that are cancelled instead of
        deleted, can be recovered within 3 days.
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            curl -X POST \
              https://api.nylas.com/a/{client_id}/accounts/{id}/downgrade \
              -H 'Authorization: Basic ENCODED_SECRET'
        - lang: py
          label: Python SDK
          source: |-
            from nylas import APIClient
            nylas = APIClient(
                CLIENT_ID,
                CLIENT_SECRET
            )
            # Cancel an account, replace {id} with the appropriate account id
            account = nylas.accounts.get('{id}')
            account.downgrade()
        - lang: ruby
          label: Ruby SDK
          source: |-
            nylas = Nylas::API.new(
                app_id: APP_ID,
                app_secret: APP_SECRET
            )
            # Cancel an account, replace {id} with the appropriate account id
            account = nylas.accounts.find('{id}')
            account.downgrade
        - lang: js
          label: Node.js SDK
          source: |-
            const Nylas = require('nylas');
            Nylas.config({clientId: 'clientId', clientSecret: 'clientSecret'});

            // Cancel an account, replace {id} with the appropriate account id
            Nylas.accounts
              .find('{id}')
              .then(account => account.downgrade())
              .then(response => console.log(response));
        - lang: java
          label: Java SDK
          source: |-
            import java.io.IOException;
            import com.nylas.RequestFailedException;
            import com.nylas.NylasApplication;
            import com.nylas.NylasClient;
            import com.nylas.Accounts;

            public class NylasExamples {
              public static void cancelAccountExample() throws IOException, RequestFailedException {
                NylasClient nylas = new NylasClient();
                NylasApplication application = nylas.application("{CLIENT_ID}", "{CLIENT_SECRET}");
                Accounts accounts = application.accounts();
                // Cancel an account by providing its ID
                accounts.downgrade("{accountId}");

              }
            }
      security:
        - BASIC_AUTH: []
      parameters:
        - $ref: '#/components/parameters/Accept'
    parameters:
      - schema:
          type: string
        name: client_id
        in: path
        required: true
        description: The ID of your Nylas developer application.
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The ID of the account to cancel.
  '/a/{client_id}/accounts/{id}/upgrade':
    parameters:
      - schema:
          type: string
        name: client_id
        in: path
        required: true
        description: The ID of your Nylas developer application.
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The ID of the account to reactivate.
    post:
      summary: Reactivate an Account
      tags:
        - Account Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  success:
                    type: string
                    minLength: 1
                required:
                  - success
              examples:
                ReactivateAnAccount:
                  value:
                    success: 'true'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-400'
        '401':
          $ref: '#/components/responses/Error-401'
      operationId: post-a-client_id-accounts-id-upgrade
      description: Reactivate a cancelled account.
      x-code-samples:
        - lang: bash
          label: cURL
          source: |-
            curl -X POST \
              https://api.nylas.com/a/{client_id}/accounts/{id}/upgrade \
              -H 'Authorization: Basic ENCODED_SECRET'
        - lang: py
          label: Python SDK
          source: |-
            from nylas import APIClient
            nylas = APIClient(
                CLIENT_ID,
                CLIENT_SECRET
            )
            account = nylas.accounts.get('{id}')
            account.upgrade()
        - lang: ruby
          label: Ruby SDK
          source: |-
            nylas = Nylas::API.new(
                app_id: APP_ID,
                app_secret: APP_SECRET
            )

            account = nylas.accounts.find('{id}')
            account.upgrade
        - lang: js
          label: Node.js SDK
          source: |-
            const Nylas = require('nylas');
            Nylas.config({clientId: 'clientId', clientSecret: 'clientSecret'});

            Nylas.accounts
            .find('{id}')
            .then(account => account.upgrade());
        - lang: java
          label: Java SDK
          source: |-
            import java.io.IOException;
            import com.nylas.RequestFailedException;
            import com.nylas.NylasApplication;
            import com.nylas.NylasClient;
            import com.nylas.Accounts;

            public class NylasExamples {
              public static void upgradeAccountExample() throws IOException, RequestFailedException {
                NylasClient nylas = new NylasClient();
                NylasApplication application = nylas.application("{CLIENT_ID}", "{CLIENT_SECRET}");
                Accounts accounts = application.accounts();

                // Reactivate an account by providing its ID
                accounts.upgrade("{accountId}");

              }
            }
      security:
        - BASIC_AUTH: []
      parameters:
        - $ref: '#/components/parameters/Accept'
  '/a/{client_id}/accounts/{id}/revoke-all':
    parameters:
      - schema:
          type: string
        name: client_id
        in: path
        required: true
        description: The ID of your Nylas developer application.
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The ID of an account for which to revoke all tokens.
    post:
      summary: Revoke All Tokens
      tags:
        - Account Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  success:
                    type: string
                    minLength: 1
                required:
                  - success
              examples:
                RevokeAllTokensResponse:
                  value:
                    success: 'true'
        '401':
          $ref: '#/components/responses/Error-401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                  type:
                    type: string
                    minLength: 1
                required:
                  - message
                  - type
              examples:
                example-1:
                  value:
                    message: No tokens found for that account id
                    type: api_error
      operationId: post-a-client_id-accounts-id-revoke-all
      description: >-
        Revoke all access tokens for an account.


        There are two ways to use this endpoint, you can revoke all access
        tokens, or pass in a access token you want to keep.


        To revoke all access tokens, pass an empty body.


        To keep access tokens, pass in an access token.


        ```json

        {
            "keep_access_token": "ACCESS_TOKEN"
        }

        ```
      x-code-samples:
        - lang: bash
          label: cURL
          source: >-
            curl -X POST \
              https://api.nylas.com/a/{client_id}/accounts/{id}/revoke-all \
              -H 'Authorization: Basic ENCODED_SECRET'

            # Alternatively, pass an access token to revoke all except the
            provided token

            curl -X POST \
              https://api.nylas.com/a/{client_id}/accounts/{id}/revoke-all \
              -H 'Authorization: Basic ENCODED_SECRET' \
              -d '{
                "keep_access_token": "ACCESS_TOKEN"
            }'
        - lang: py
          label: Python SDK
          source: |-
            from nylas import APIClient
            nylas = APIClient(
                CLIENT_ID,
                CLIENT_SECRET,
                ACCESS_TOKEN
            )

            # Revoke all tokens
            nylas.revoke_all_tokens()

            # Revoke all tokens except for one
            nylas.revoke_all_tokens(keep_access_token=ACCESS_TOKEN)
        - lang: ruby
          label: Ruby SDK
          source: |-
            nylas = Nylas::API.new(
                app_id: APP_ID,
                app_secret: APP_SECRET,
                access_token: ACCESS_TOKEN
            )

            account = nylas.accounts.find('{id}')

            # Revoke all tokens
            account.revoke_all

            # Revoke all tokens except for one
            account.revoke_all(keep_access_token: ACCESS_TOKEN)
        - lang: js
          label: Node.js SDK
          source: |-
            const Nylas = require('nylas');
            Nylas.config({clientId: 'clientId', clientSecret: 'clientSecret'});

            // Revoke all tokens
            Nylas.accounts
            .find('accountId')
            .then(account => account.revokeAll());

            // Revoke all tokens except for one
            Nylas.accounts
            .find('accountId')
            .then(account => account.revokeAll('kept_access_token'));
        - lang: java
          label: Java SDK
          source: |-
            import java.io.IOException;
            import com.nylas.RequestFailedException;
            import com.nylas.NylasApplication;
            import com.nylas.NylasClient;
            import com.nylas.Accounts;

            public class NylasExamples {
                public static void revokeTokensExample() throws IOException, RequestFailedException {
                    NylasClient nylas = new NylasClient();
                    NylasApplication application = nylas.application("{CLIENT_ID}", "{CLIENT_SECRET}");
                    Accounts accounts = application.accounts();

                    // Revoke all tokens for an account by providing its ID
                    accounts.revokeAllTokensForAccount("{accountId}", null);

                    // Pass an optional access token to revoke all tokens except for one.
                    accounts.revokeAllTokensForAccount("{accountId}", "{ACCESS_TOKEN}");
                    }
            }
      security:
        - BASIC_AUTH: []
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                keep_access_token:
                  type: string
                  minLength: 1
                  description: >-
                    Use this to keep an existing access token instead of
                    deleting them all
            examples:
              RevokeAllTokensRequest:
                value:
                  keep_access_token: string
        description: ''
  '/a/{client_id}/ip_addresses':
    parameters:
      - schema:
          type: string
        name: client_id
        in: path
        required: true
        description: The client ID of your Nylas developer application.
    get:
      summary: Return Application IP Addresses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  ip_addresses:
                    type: array
                    items: {}
                  updated_at:
                    type: number
                required:
                  - ip_addresses
                  - updated_at
              examples:
                ReturnApplicationIPAddressesResponse:
                  value:
                    ip_addresses:
                      - 52.25.153.17
                      - 52.26.120.161
                      - 52.39.252.208
                      - 54.71.62.98
                      - 34.208.138.149
                      - 52.88.199.110
                      - 54.69.11.122
                      - 54.149.110.158
                    updated_at: 1544658529
        '401':
          $ref: '#/components/responses/Error-401'
      operationId: get-a-client_id-ip_addresses
      description: |-
        Return application IP addresses.


[...]
