<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            <img src="/assets/img/website_logo.png" alt="VRChat API Project" height="50" class="my-1">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item me-5">
                    <a class="nav-link fs-5 active fw-bold" aria-current="page"
                        href="https://github.com/vrchatapi">GitHub</a>
                </li>
                <li class="nav-item me-5 dropdown">
                    <a class="nav-link fs-5 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Reference
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/docs/api">HTTP API</a></li>
                        <li><a class="dropdown-item" href="/docs/api/pdf">PDF Specification</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Getting Started</a></li>
                        <li><a class="dropdown-item" href="/docs/tutorials">Tutorials</a></li>
                    </ul>
                </li>
                <li class="nav-item me-5 dropdown">
                    <a class="nav-link fs-5 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Languages
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for sdk in site.sdks %}
                        <li><a class="dropdown-item" href="/sdk/{{ sdk.id }}">{{ sdk.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <a class="d-flex text-decoration-none" href="https://discord.gg/qjZE9C9fkB">
                <button class="btn btn-outline-light me-3 px-4 py-3" type="submit">Join Discord</button>
            </a>
        </div>
    </div>
</nav>