<rapi-doc
  spec-url="https://vrchatapi.github.io/specification/openapi.yaml"
  sort-endpoints-by = "none"

  theme = "light"
  bg-color="#ffffff"

  header-color="#000000"
  text-color = "#434343"
	primary-color = "#000000"

  regular-font = "Source Sans Pro, Arial, Helvetica, sans-serif"
  mono-font = "Inconsolata, Courier New, Courier, monospace"
	font-size = "largest"

  use-path-in-nav-bar = "true"
  nav-bg-color = "#f5f5f5"
  nav-text-color="#000000"
  nav-hover-bg-color="#d9d9d9"

  layout = "row"
  render-style = {{ include.render_style }}
  on-nav-tag-click="show-description"
  schema-style = "tree"
  schema-description-expanded = "true"

  info-description-headings-in-navbar = "true"
  show-header = "false"
  allow-search = "true"
  allow-advanced-search = "true"

  allow-try = "false"
  allow-authentication = "false"
  allow-server-selection = "false"

  api-key-name = "apiKey"
  api-key-location = "query"
  api-key-value = "JlE5Jldo5Jibnk5O5hTx6XVqsJu4WJ26"
  fetch-credentials = "include"
>