<a href="/tutorials" class="btn btn-light fw-bold text-uppercase mt-3 d-block btn-lg">Back to tutorials</a>

<div class="row text-uppercase ">
    {% assign tutorials = site.pages | where_exp:"item","item.layout == tutorial" %}
    {% assign tutorials_in_cat = site.pages | where_exp:"item","item.category == page.category" %}
    {% for p in tutorials_in_cat %}
        {% if p.title == page.title %}
            {% if forloop.first == true %}
                {% assign prev_link = "/tutorials" %}
            {% else %}
                {% assign prev_i = forloop.index0 | minus: 1 %}
                {% assign prev = tutorials_in_cat[prev_i] %}
                {% assign prev_link = prev.url %}
            {% endif %}
            {% if forloop.last == true %}
                {% assign next_link = "/tutorials" %}
            {% else %}
                {% assign next = tutorials_in_cat[forloop.index] %}
                {% assign next_link = next.url %}
            {% endif %}
        {% endif %}
    {% endfor %}
    <div class="col"><a href="{{ prev_link }}" class="btn btn-light fw-bold d-block mt-3 btn-lg">Previous</a></div>
    <div class="col"><a href="{{ next_link }}" class="btn btn-light fw-bold d-block mt-3 btn-lg">Next</a></div>
</div>

<nav id="tutorial-navbar" class="navbar navbar-light flex-column align-items-stretch bg-light p-3 mt-3">
    <a class="navbar-brand fw-bold py-2" href="#">{{ page.title }}</a>

    <hr class="mt-1">

    {% include toc.html
        html=content
        class="nav nav-pills flex-column"
        item_class="nav-link"
        anchor_class="nav-link"
        submenu_class="nav nav-pills flex-column ms-4 my-1" %}
</nav>

<nav class="navbar navbar-light flex-column align-items-stretch bg-light p-3 mt-3">
    <div class="navbar-brand fw-bold py-2" href="#">Links</div>

    <hr class="mt-1">

    <nav class="nav nav-pills flex-column">
    {% for link in tutorials_in_cat %}
        {% if link.title %}
            {% assign link_title = link.title %}
        {% else %}
            {% assign link_title = link.url %}
        {% endif %}
        {% if link.title == page.title %}
            {% assign link_active = "active" %}
        {% else %}
            {% assign link_active = "" %}
        {% endif %}
        <a class="nav-link {{ link_active }}" href="{{ link.url }}">{{ link_title }}</a>
    {% endfor %}
    </nav>
</nav>

<div class=" bg-light p-3 mt-3">
    {% include footer_thin.html %}
</div>