---
layout: page
permalink: /sdks
title: VRChat API SDKs
---

<div class="container">

    <nav aria-label="breadcrumb" class="mt-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Languages</li>
        </ol>
    </nav>

    <h1 class="fw-bold display-2">Languages</h1>

    <p class="pt-3">
        Langage SDKs allow you to quickly get started using the API in your favorite language without having to
        (re-)implement all the HTTP methods from scratch.
    </p>

    <h3 class="fw-bold">SDKs</h3>

    <div class="row">
        {% for sdk in site.sdks %}
        <div class="col-4 mb-3">
            <div class="card" style="height: 100%;">
                {% include lang_{{ sdk.id }}.html width="200" class="m-5 mx-auto" %}
                <div class="card-body">
                    <h4 class="card-title fw-bold">{{ sdk.name }} SDK</h4>
                    <a href="/sdks/{{ sdk.id }}" class="btn btn-gold btn-lg d-block fw-bold mb-3">
                        Go to Docs
                    </a>
                    <p class="card-text">
                        {{ sdk.description }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

</div>