{{ define "main" }}

{{ $file_readme := (print "readme_" $.Params.sdk) }}
{{ $readme := (index .Site.Data.github.readme $file_readme) }}

<div class="container-fluid px-3 px-md-5">

    <div class="row">
        <div class="col-12 col-md-8">

            <div class="position-relative overflow-auto pe-3 pe-md-5 pb-3 pb-md-5" style="height: calc(100vh - 84px)">

                <nav aria-label="breadcrumb" class="mt-5">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/sdk">SDK</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ .LinkTitle }}</li>
                    </ol>
                </nav>

                <h1 class="fw-bold display-2">{{ .LinkTitle }}</h1>

                <div id="sdk-readme-content">
                    {{ $readme.decoded | markdownify }}
                </div>

                <div class="d-block d-md-none">
                    <hr class="my-5">
                    {{ partial "sdk_sidebar.html" . }}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 d-none d-md-block">
            {{ partial "sdk_sidebar.html" . }}
        </div>
    </div>

    <script>
        const intervals = [
            { label: 'year', seconds: 31536000 },
            { label: 'month', seconds: 2592000 },
            { label: 'day', seconds: 86400 },
            { label: 'hour', seconds: 3600 },
            { label: 'minute', seconds: 60 },
            { label: 'second', seconds: 1 }
        ];

        function timeSince(date) {
            const seconds = Math.floor((Date.now() - date.getTime()) / 1000);
            const interval = intervals.find(i => i.seconds < seconds);
            const count = Math.floor(seconds / interval.seconds);
            return `${count} ${interval.label}${count !== 1 ? 's' : ''} ago`;
        }

        // Add "img-fluid" to images
        document.getElementById("sdk-readme-content")
            .querySelectorAll("img").forEach(el => el.classList.add("img-fluid"));

        // Calculate relative dates
        document.querySelectorAll("*[data=relative-date]").forEach(function (e) {
            e.innerText = timeSince(new Date(e.innerText));
        });
    </script>

    {{ end }}