:host {
    --red-1: #fff1f0;
    --red-2: #ffccc7;
    --red-3: #ffa39e;
    --red-4: #ff7875;
    --red-5: #ff4d4f;
    --red-6: #f5222d;
    --red-7: #cf1322;
    --red-8: #a8071a;
    --red-9: #820014;
    --red-10: #5c0011;

    --volcano-1: #fff2e8;
    --volcano-2: #ffd8bf;
    --volcano-3: #ffbb96;
    --volcano-4: #ff9c6e;
    --volcano-5: #ff7a45;
    --volcano-6: #fa541c;
    --volcano-7: #d4380d;
    --volcano-8: #ad2102;
    --volcano-9: #871400;
    --volcano-10: #610b00;

    --orange-1: #fff7e6;
    --orange-2: #ffe7ba;
    --orange-3: #ffd591;
    --orange-4: #ffc069;
    --orange-5: #ffa940;
    --orange-6: #fa8c16;
    --orange-7: #d46b08;
    --orange-8: #ad4e00;
    --ornage-9: #873800;
    --orange-10: #612500;

    --gold-1: #fffbe6;
    --gold-2: #fff1b8;
    --gold-3: #ffe58f;
    --gold-4: #ffd666;
    --gold-5: #ffc53d;
    --gold-6: #faad14;
    --gold-7: #d48806;
    --gold-8: #ad6800;
    --gold-9: #874d00;
    --gold-10: #613400;

    --yellow-1: #feffe6;
    --yellow-2: #ffffb8;
    --yellow-3: #fffb8f;
    --yellow-4: #fff566;
    --yellow-5: #ffec3d;
    --yellow-6: #fadb14;
    --yellow-7: #d4b106;
    --yellow-8: #ad8b00;
    --yellow-9: #876800;
    --yellow-10: #614700;

    --lime-1: #fcffe6;
    --lime-2: #f4ffb8;
    --lime-3: #eaff8f;
    --lime-4: #d3f261;
    --lime-5: #bae637;
    --lime-6: #a0d911;
    --lime-7: #7cb305;
    --lime-8: #5b8c00;
    --lime-9: #3f6600;
    --lime-10: #254000;

    --green-1: #f6ffed;
    --green-2: #d9f7be;
    --green-3: #b7eb8f;
    --green-4: #95de64;
    --green-5: #73d13d;
    --green-6: #52c41a;
    --green-7: #389e0d;
    --green-8: #237804;
    --green-9: #135200;
    --green-10: #092b00;

    --cyan-1: #e6fffb;
    --cyan-2: #b5f5ec;
    --cyan-3: #87e8de;
    --cyan-4: #5cdbd3;
    --cyan-5: #36cfc9;
    --cyan-6: #13c2c2;
    --cyan-7: #08979c;
    --cyan-8: #006d75;
    --cyan-9: #00474f;
    --cyan-10: #002329;

    --blue-1: #e6f7ff;
    --blue-2: #bae7ff;
    --blue-3: #91d5ff;
    --blue-4: #69c0ff;
    --blue-5: #40a9ff;
    --blue-6: #1890ff;
    --blue-7: #096dd9;
    --blue-8: #0050b3;
    --blue-9: #003a8c;
    --blue-10: #002766;

    --geekblue-1: #f0f5ff;
    --geekblue-2: #d6e4ff;
    --geekblue-3: #adc6ff;
    --geekblue-4: #85a5ff;
    --geekblue-5: #597ef7;
    --geekblue-6: #2f54eb;
    --geekblue-7: #1d39c4;
    --geekblue-8: #10239e;
    --geekblue-9: #061178;
    --geekblue-10: #030852;

    --purple-1: #f9f0ff;
    --purple-2: #efdbff;
    --purple-3: #d3adf7;
    --purple-4: #b37feb;
    --purple-5: #9254de;
    --purple-6: #722ed1;
    --purple-7: #531dab;
    --purple-8: #391085;
    --purple-9: #22075e;
    --purple-10: #120338;

    --magenta-1: #fff0f6;
    --magenta-2: #ffd6e7;
    --magenta-3: #ffadd2;
    --magenta-4: #ff85c0;
    --magenta-5: #f759ab;
    --magenta-6: #eb2f96;
    --magenta-7: #c41d7f;
    --magenta-8: #9e1068;
    --magenta-9: #780650;
    --magenta-10: #520339;

    --gray-1: #ffffff;
    --gray-2: #fafafa;
    --gray-3: #f5f5f5;
    --gray-4: #f0f0f0;
    --gray-5: #d9d9d9;
    --gray-6: #bfbfbf;
    --gray-7: #8c8c8c;
    --gray-8: #595959;
    --gray-9: #434343;
    --gray-10: #262626;
    --gray-11: #1f1f1f;
    --gray-12: #141414;
    --gray-13: #000000;

    --red: var(--red-6);
    --volcano: var(--volcano-6);
    --orange: var(--orange-6);
    --gold: var(--gold-6);
    --yellow: var(--yellow-6);
    --lime: var(--lime-6);
    --green: var(--green-6);
    --cyan: var(--cyan-6);
    --blue: var(--blue-6);
    --geekblue: var(--geekblue-6);
    --purple: var(--purple-6);
    --magenta: var(--magenta-6);

    --light-red: var(--red-2);
    --light-volcano: var(--volcano-2);
    --light-orange: var(--orange-2);
    --light-gold: var(--gold-2);
    --light-yellow: var(--yellow-2);
    --light-lime: var(--lime-2);
    --light-green: var(--green-2);
    --light-cyan: var(--cyan-2);
    --light-blue: var(--blue-2);
    --light-geekblue: var(--geekblue-2);
    --light-purple: var(--purple-2);
    --light-magenta: var(--magenta-2);

    --dark-red: var(--red-8);
    --dark-volcano: var(--volcano-8);
    --dark-orange: var(--orange-8);
    --dark-gold: var(--gold-8);
    --dark-yellow: var(--yellow-8);
    --dark-lime: var(--lime-8);
    --dark-green: var(--green-8);
    --dark-cyan: var(--cyan-8);
    --dark-blue: var(--blue-8);
    --dark-geekblue: var(--geekblue-8);
    --dark-purple: var(--purple-8);
    --dark-magenta: var(--magenta-8);
    
    --white: var(--gray-1);
    --gray-light: var(--gray-4);
    --gray: var(--gray-8);
    --gray-dark: var(--gray-10);
    --black: var(--gray-13);

    /* Boostrap Colors */
    --primary: var(--blue);
    --secondary: var(--gray);
    --success: var(--green);
    --info: var(--cyan);
    --warning: var(--yellow);
    --danger: var(--red);
    --light: var(--gray-light);
    --dark: var(--black);
}

:host {
    /* Rapidoc specific*/
    --border-color: transparent;
    --bg2: var(--gray-light);
}

h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: var(--black);
}
h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--black);
}
h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: var(--black);
}
p {
    font-weight: 400;
    font-size: 17x;
    line-height: 24px;
}

.regular-font {
    font-size: 17px;
    line-height: 24px;
    color: var(--black);
}

code,
kbd,
pre,
samp {
    font-family: Inconsolata, Courier New, Courier, monospace;
}
code {
    font-family: Inconsolata, Courier New, Courier, monospace;
    font-weight: 400;
    color: var(--dark-red);
    font-size: 16px;
    line-height: 24px;
}
.m-markdown code {
    font-family: Inconsolata, Courier New, Courier, monospace;
    font-weight: 400;
    color: var(--black);
    font-size: 16px;
    line-height: 24px;
    background-color: var(--gray-4);
}
.m-markdown-small code {
    font-family: Inconsolata, Courier New, Courier, monospace;
    font-weight: 400;
    color: var(--black);
}
a, .m-markdown a, m-markdown-small a {
    color: var(--dark-blue);
}
.string {
    color: var(--green);
}
.bool, .boolean {
    color: var(--orange)
}

.method-fg.get {
    color: var(--white) !important;
    background-color: var(--blue);
    font-weight: 600;
    padding: 4px 6px 4px 6px;
}
.method-fg.put {
    color: var(--black) !important;
    background-color: var(--yellow);
    font-weight: 600;
    padding: 4px 6px 4px 6px;
}
.method-fg.post {
    color: var(--white) !important;
    background-color: var(--green);
    font-weight: 600;
    padding: 4px 6px 4px 6px;
}
.method-fg.delete {
    color: var(--white) !important;
    background-color: var(--red);
    font-weight: 600;
    padding: 4px 6px 4px 6px;
}
.nav-bar-path.active {
    border-left: 5px solid var(--black);
}
input[type='text'] {
    background-color: #f7f7f8;
    border: 1px solid #8d94a5;
    color: var(--black);
}
input[type='password'] {
    background-color: #f7f7f8;
    border: 1px solid #8d94a5;
    color: var(--black);
}
.tab-content .col {
    background-color: var(--purple);
}
.tree {
    border: 1px solid var(--gray-6);
}
.json-tree {
    border: 1px solid var(--gray-6);
}
.m-markdown th {
    font-weight: 700;
    color: var(--black);
}
.m-markdown td {
    border-bottom: 1px solid var(--black);
}
.m-markdown blockquote {
    border-left: 5px solid var(--dark-blue);
    background-color: var(--gray-4);
    padding: 12px 0 12px 18px;
}
.m-markdown blockquote > p:first-child {
    margin-top: 0;
}
.m-btn {
    background-color: var(--white) !important;
    border: 1px solid var(--white) !important;
    color: var(--black) !important;
}
.m-btn:hover {
    background-color: var(--black) !important;
    border: 1px solid var(--black) !important;
    color: var(--white) !important;
}
.m-btn.primary {
    background-color: var(--black) !important;
    border: 1px solid var(--black) !important;
    color: var(--white) !important;
}
.m-btn.primary:hover {
    background-color: var(--gray-8) !important;
    border: 1px solid var(--gray-8) !important;
    color: var(--white) !important;
}
.main-content {
    background-color: #fff;
}
#api-title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: var(--black);
}
#api-title > span {
    font-size: 17px !important;
    font-weight: 600;
    color: var(--black);
}
.nav-bar-path .active {
    border: 7px solid var(--blue);
}
.callout-error {
    padding: 1.25rem;
    background-color: #fff5fa;
    border: 1px solid var(--red);
    margin-top: 10px;
    margin-bottom: 10px;
}
.callout-warn {
    padding: 1.25rem;
    background-color: #fffee5;
    border: 1px solid var(--yellow);
    margin-top: 10px;
    margin-bottom: 10px;
}
.callout-info {
    padding: 1.25rem;
    background-color: #f0f3ff;
    border: 1px solid var(--blue);
    margin-top: 10px;
    margin-bottom: 10px;
}
.callout-success {
    padding: 1.25rem;
    background-color: #f5fffd;
    border: 1px solid var(--green);
    margin-top: 10px;
    margin-bottom: 10px;
}
#api-info {
    display: none !important;
}

.nav-method.as-colored-block {
    padding: 1px 6px !important;
    border-radius: 0 !important;
    color: var(--white) !important;
    margin-right: 8px !important;
}

/* Swap so PUT is yellow, and strange is Orange */
.nav-method.as-colored-block.put { background-color: var(--yellow) !important; color: var(--black) !important; }
.nav-method.as-colored-block.head, .nav-method.as-colored-block.patch , .nav-method.as-colored-block.options { 
    background-color: var(--orange) !important;
}