/* Background */ .chroma { color: #e5e5e5; background-color: #000000 }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: var(--red) }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #727272 }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #727272 }
/* Keyword */ .chroma .k { color: var(--green) }
/* KeywordConstant */ .chroma .kc { color: var(--magenta); font-weight: bold }
/* KeywordDeclaration */ .chroma .kd { color: #ffffff; font-weight: bold }
/* KeywordNamespace */ .chroma .kn { color: #ffffff; font-weight: bold }
/* KeywordPseudo */ .chroma .kp { color: #ffffff; font-weight: bold }
/* KeywordReserved */ .chroma .kr { color: var(--green) }
/* KeywordType */ .chroma .kt { color: #ffffff; font-weight: bold }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na { color: var(--volcano) }
/* NameBuiltin */ .chroma .nb { color: #ffffff; font-weight: bold }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc {  }
/* NameConstant */ .chroma .no {  }
/* NameDecorator */ .chroma .nd { color: var(--purple) }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne {  }
/* NameFunction */ .chroma .nf {  }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt {  }
/* NameVariable */ .chroma .nv {  }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld { color: var(--yellow); font-weight: bold }
/* LiteralString */ .chroma .s { color: var(--gold); font-weight: bold }
/* LiteralStringAffix */ .chroma .sa { color: var(--gold); font-weight: bold }
/* LiteralStringBacktick */ .chroma .sb { color: var(--gold); font-weight: bold }
/* LiteralStringChar */ .chroma .sc { color: var(--gold); font-weight: bold }
/* LiteralStringDelimiter */ .chroma .dl { color: var(--gold); font-weight: bold }
/* LiteralStringDoc */ .chroma .sd { color: var(--gold); font-weight: bold }
/* LiteralStringDouble */ .chroma .s2 { color: var(--gold); font-weight: bold }
/* LiteralStringEscape */ .chroma .se { color: var(--gold); font-weight: bold }
/* LiteralStringHeredoc */ .chroma .sh { color: var(--gold); font-weight: bold }
/* LiteralStringInterpol */ .chroma .si { color: var(--gold); font-weight: bold }
/* LiteralStringOther */ .chroma .sx { color: var(--gold); font-weight: bold }
/* LiteralStringRegex */ .chroma .sr { color: var(--gold); font-weight: bold }
/* LiteralStringSingle */ .chroma .s1 { color: var(--gold); font-weight: bold }
/* LiteralStringSymbol */ .chroma .ss { color: var(--gold); font-weight: bold }
/* LiteralNumber */ .chroma .m { color: var(--yellow); font-weight: bold }
/* LiteralNumberBin */ .chroma .mb { color: var(--yellow); font-weight: bold }
/* LiteralNumberFloat */ .chroma .mf { color: var(--yellow); font-weight: bold }
/* LiteralNumberHex */ .chroma .mh { color: var(--yellow); font-weight: bold }
/* LiteralNumberInteger */ .chroma .mi { color: var(--yellow); font-weight: bold }
/* LiteralNumberIntegerLong */ .chroma .il { color: var(--yellow); font-weight: bold }
/* LiteralNumberOct */ .chroma .mo { color: var(--yellow); font-weight: bold }
/* Operator */ .chroma .o {  }
/* OperatorWord */ .chroma .ow {  }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: #007f7f }
/* CommentHashbang */ .chroma .ch { color: #007f7f }
/* CommentMultiline */ .chroma .cm { color: #007f7f }
/* CommentSingle */ .chroma .c1 { color: #007f7f }
/* CommentSpecial */ .chroma .cs { color: #007f7f }
/* CommentPreproc */ .chroma .cp { color: var(--green); font-weight: bold }
/* CommentPreprocFile */ .chroma .cpf { color: var(--green); font-weight: bold }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd {  }
/* GenericEmph */ .chroma .ge {  }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh { font-weight: bold }
/* GenericInserted */ .chroma .gi {  }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { font-weight: bold }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w {  }
