@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;700&display=swap);

:root {
    --red-6: #f5222d;

    --yellow-6: #fadb14;

    --gren-6: #52c41a;

    --blue-6: #1890ff;

    --gray-13: #000000;

    --red: var(--red-6);
    --yellow: var(--yellow-6);
    --green: var(--gren-6);
    --blue: var(--blue-6);
    --black: var(--gray-13);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    letter-spacing: 0;
}
code,
kbd,
pre,
samp {
    font-family: Inconsolata, Courier New, Courier, monospace;
}
code {
    line-height: 27px;
    font-weight: 400;
    background-color: #e5e5e5;
    padding: 2px 6px;
    font-family: Inconsolata, Courier New, Courier, monospace;
}
code[class*='language-'],
pre[class*='language-'] {
    color: #cbcbcb;
    background: 0 0;
    font-family: Inconsolata, 'Courier New', Courier, monospace;
    font-size: 0.75 em;
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

a {
    color: var(--blue-6);
}

.btn, .dropdown-menu {
    border-radius: 0 !important;
}

.bg-dark {
    background-color: var(--black) !important;
}

.border-light {
    border-color: #e6f7ff !important;
}
