<!-- index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Custom VRChatAPI CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">

    <title>{{ page.title }}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FBCK0H6BHS"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-FBCK0H6BHS');
    </script>


</head>

<body class="overflow-y-hidden">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <a class="navbar-brand" href="/">
                <img src="/assets/img/website_logo.png" alt="VRChat API Project" height="50" class="my-1">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item me-5">
                        <a class="nav-link fs-5 active fw-bold" aria-current="page" href="https://github.com/vrchatapi">GitHub</a>
                    </li>
                    <li class="nav-item me-5 dropdown">
                        <a class="nav-link fs-5 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Reference
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/docs/api">HTTP API</a></li>
                            <li><a class="dropdown-item" href="/docs/api/pdf">PDF Specification</a></li>
                            <li><a class="dropdown-item" href="#">Getting Started</a></li>
                        </ul>
                    </li>
                    <li class="nav-item me-5 dropdown">
                        <a class="nav-link fs-5 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Libraries
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">NodeJS</a></li>
                            <li><a class="dropdown-item" href="#">Dart</a></li>
                            <li><a class="dropdown-item" href="#">Rust</a></li>
                            <li><a class="dropdown-item disable" href="#">Java</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" action="https://discord.gg/qjZE9C9fkB">
                    <button class="btn btn-outline-light me-3 px-4 py-3" type="submit">Join Discord</button>
                </form>
            </div>
        </div>
    </nav>

    <div id="content" style="position: fixed;">

        {{ content }}

    </div>
    <script>
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>