---
layout: default
---

{% assign file_readme = page.sdk | prepend: 'readme_' %}
{% assign file_releases = page.sdk | prepend: 'releases_' %}
{% assign file_repo = page.sdk | prepend: 'repo_' %}
{% assign repo = site.data.github[file_repo] %}

<div class="container-fluid px-5">

    <div class="row">
        <div class="col-8">

            <div class="position-relative overflow-auto pe-5 pb-5" style="height: calc(100vh - 84px)">

                <nav aria-label="breadcrumb" class="mt-5">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/sdk">SDK</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                    </ol>
                </nav>

                <h1 class="fw-bold display-2">{{ page.title }}</h1>

                <div id="sdk-readme-content">
                    {{ site.data.github[file_readme].decoded | markdownify }}
                </div>
            </div>
        </div>
        <div class="col-4">
            <a target="_blank" href="{{ repo.html_url }}" class="btn btn-light fw-bold text-uppercase mt-3 d-block btn-lg">
                Go to GitHub Repository
            </a>

            <nav id="tutorial-navbar" class="navbar navbar-light flex-column align-items-stretch bg-light p-3 mt-3">
                <a class="navbar-brand fw-bold py-2" href="#">{{ page.title }}</a>

                <hr class="mt-1">

                <nav class="row text-center text-nowrap">
                    <div class="col">
                        Stars
                        <br>
                        <strong>{{ repo.stargazers_count }}</strong>
                    </div>
                    <div class="col">
                        Last updated
                        <br>
                        <strong><span data="relative-date">{{ repo.updated_at }}</span></strong>
                    </div>
                    <div class="col">
                        License
                        <br>
                        <strong>{{ repo.license.spdx_id }}</strong>
                    </div>
                    <div class="col">
                        Release Version
                        <br>
                        <strong>{{ site.data.github[file_releases][0].tag_name | default: 'None' | remove: "v" }}</strong>
                    </div>
                </nav>
            </nav>

            <nav class="navbar navbar-light flex-column align-items-stretch bg-light p-3 mt-3">
                <div class="navbar-brand fw-bold py-2" href="#">Links</div>

                <hr class="mt-1">

                <nav class="nav nav-pills flex-column">
                    {% for link in page.links %}
                    <a target="_blank" href="{{ link.target }}" class="nav-link">
                        {{ link.title }}
                    </a>
                    {% endfor %}
                </nav>
            </nav>

            <div class=" bg-light p-3 mt-3">
                {% include footer_thin.html %}
            </div>
        </div>
    </div>

    <script>
        const intervals = [
            { label: 'year', seconds: 31536000 },
            { label: 'month', seconds: 2592000 },
            { label: 'day', seconds: 86400 },
            { label: 'hour', seconds: 3600 },
            { label: 'minute', seconds: 60 },
            { label: 'second', seconds: 1 }
        ];

        function timeSince(date) {
            const seconds = Math.floor((Date.now() - date.getTime()) / 1000);
            const interval = intervals.find(i => i.seconds < seconds);
            const count = Math.floor(seconds / interval.seconds);
            return `${count} ${interval.label}${count !== 1 ? 's' : ''} ago`;
        }

        // Add "img-fluid" to images
        document.getElementById("sdk-readme-content").querySelectorAll("img").forEach(el => el.classList.add("img-fluid"));

        // Calculate relative dates
        document.querySelectorAll("*[data=relative-date]").forEach(function (e) {
            e.innerText = timeSince(new Date(e.innerText));
        });
    </script>

</div>