---
layout: default
---

<div class="container-fluid px-5">

    <div class="row">
        <div class="col-8">

            <div class="position-relative overflow-auto pe-5 pb-5" data-bs-spy="scroll" data-bs-target="#tutorial-navbar" data-bs-offset="1000" tabindex="0" style="height: calc(100vh - 84px)">

                <nav aria-label="breadcrumb" class="mt-5">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/tutorials">Tutorials</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                    </ol>
                </nav>
    
                <h1 class="fw-bold display-2">{{ page.title }}</h1>

                {{ content }}
            </div>
        </div>
        <div class="col-4">
            <a href="/tutorials" class="btn btn-light fw-bold text-uppercase mt-3 d-block btn-lg">Back to tutorials</a>

            <div class="row text-uppercase ">
                {% assign tutorials = site.pages | where_exp:"item","item.layout == tutorial" %}
                {% assign tutorials_in_cat = site.pages | where_exp:"item","item.category == page.category" %}
                {% for p in tutorials_in_cat %}
                    {% if p.title == page.title %}
                    {{ prev.title }}
                        {% if forloop.first == true %}
                            {% assign prev_link = "/tutorials" %}
                        {% else %}
                            {% assign prev_i = forloop.index1 | minus: 2 %}
                            {% assign prev = tutorials_in_cat[prev_i] %}
                            {% assign prev_link = prev.url %}
                        {% endif %}
                        {% if forloop.last == true %}
                            {% assign next_link = "/tutorials" %}
                        {% else %}
                            {% assign next = tutorials_in_cat[forloop.index] %}
                            {% assign next_link = next.url %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="col"><a href="{{ prev_link }}" class="btn btn-light fw-bold d-block mt-3 btn-lg">Previous</a></div>
                <div class="col"><a href="{{ next_link }}" class="btn btn-light fw-bold d-block mt-3 btn-lg">Next</a></div>
            </div>

            <nav id="tutorial-navbar" class="navbar navbar-light flex-column align-items-stretch bg-light p-3 mt-3">
                <a class="navbar-brand fw-bold py-2" href="#">{{ page.title }}</a>

                <hr class="mt-1">

                {% include toc.html
                    html=content
                    class="nav nav-pills flex-column"
                    item_class="nav-link"
                    anchor_class="nav-link"
                    submenu_class="nav nav-pills flex-column ms-4 my-1" %}
            </nav>

            <nav class="navbar navbar-light flex-column align-items-stretch bg-light p-3 mt-3">
                <div class="navbar-brand fw-bold py-2" href="#">Links</div>

                <hr class="mt-1">

                <nav class="nav nav-pills flex-column">
                {% for link in page.links %}
                    {% if link.title %}
                        {% assign link_title = link.title %}
                    {% else %}
                        {% assign link_title = link.url %}
                    {% endif %}
                    <a class="nav-link" target="_blank" href="{{ link.url }}">{{ link_title }}</a>
                {% endfor %}
                </nav>
            </nav>

            <div class=" bg-light p-3 mt-3">
                {% include footer_thin.html %}
            </div>
        </div>
    </div>

</div>