---
layout: default
---

<div class="container">

    <div class="row">
        <div class="col-8">

            <div class="position-relative overflow-auto pe-5" data-bs-spy="scroll" data-bs-target="#tutorial-navbar" data-bs-offset="500" tabindex="0" style="height: calc(100vh - 84px)">

                <nav aria-label="breadcrumb" class="mt-5">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/tutorials">Tutorials</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                    </ol>
                </nav>
    
                <h1 class="fw-bold display-2">{{ page.title }}</h1>

                {{ content }}
            </div>
        </div>
        <div class="col-4">
            <nav id="tutorial-navbar" class="navbar navbar-light bg-light flex-column align-items-stretch p-3 mt-5">
                <a class="navbar-brand" href="#">{{ page.title }}</a>

                {% include toc.html
                    html=content
                    class="nav nav-pills flex-column"
                    item_class="nav-link"
                    anchor_class="nav-link"
                    submenu_class="nav nav-pills flex-column ms-3 my-1" %}
            </nav>
        </div>
    </div>

</div>